<!-- <div id="bodyBlock" class="container-fluid">
        <div class="row"> -->
                <!-- <label style="display: none" >{{languageCode}}</label>
                <div class="col-md-12 d-flex justify-content-center"> -->
                        <button  type="button" (click)="LanguageClick()" id="btnLanguage" class="mr-2 align-self-center btn btn-sm bg-white">
                                <i class=""></i> {{languageName}}</button>
                <!-- </div> -->
        <!-- </div>
</div> -->