.fgtfrm li {margin-bottom:5px;}
.fgtfrm label{display:inline-block;}

.fgtfrm .flb {width:150px;display:inline-block;}

.fesum {font-size:11px;margin-bottom:20px;color:Red;}

.fgtfrm, .fesum {margin-left:10px;}

.note-box {padding: 20px; background-color:#EDFEFE;margin:20px 0}

.reqd{color:Red;}

.cmds {margin:20px 0;}


.pwd_hint
{
   padding:10px;
}

.pwd_hint ul
{
    margin: 10px 0;
    padding:0;
}

.pwd_hint ul li
{
    list-style:none;
    margin-left:10px;
    margin-bottom:5px;
    padding-left:20px;    
}


.no {background-image:url(images/no16.png);background-repeat:no-repeat;}
.yes {background-image:url(images/yes16.png);background-repeat:no-repeat;}