<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log" >

	<variable name="myvar" value="myvalue"/>

	<targets>
		<!-- Log in a separate thread, possibly queueing up to
        5000 messages. When the queue overflows, discard any
        extra messages-->
		<target name="console" xsi:type="Console"  layout="${longdate} ${callsite} ${processname} ${level} ${message}"/>

		<target name="mail" xsi:type="Mail" smtpServer="Preo-Exch1"
			  from="no-reply@intsof.com" to="pawan.pandita@intsof.com"
			  subject="EmailDispatcherService Fatal Error on machine ${machinename} path ${basedir}" />

		<!--<target name="file" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
		  <target xsi:type="File" fileName="${basedir}/EmailDispatcherServiceLogs/${shortdate}/EmailDispatcherServiceLogs.txt" />
	  </target>-->
		<target name="file" xsi:type="File" fileName="${basedir}/EmailDispatcherServiceLogs/${shortdate}/EmailDispatcherServiceLogs.txt" />

		<target name="EmailDispatcherServiceDBLog" xsi:type="Database"
			   connectionString="data source=172.16.1.33\SQL2014DEV;initial catalog=ApplicationLog;persist security info=True;user id=adb_adb20;password=adb_adb20;multipleactiveresultsets=True;"
			   commandText="EXEC usp_InsertEmailDispatcherServiceLog
					@CallSite,
					@Level,
					@Logger,
					@Date,
					@Exception,
					@Message,
					@StackTrace,
					@Thread,
					@ServiceContextKey">
			<parameter name="@CallSite" layout="${callsite:filename=true}" />
			<parameter name="@Level" layout="${level}" />
			<parameter name="@Logger" layout="${logger}" />
			<parameter name="@Date" layout="${longdate}" />
			<parameter name="@Exception" layout="${exception}" />
			<parameter name="@Message" layout="${message}" />
			<parameter name="@StackTrace" layout="${exception:format=ToString,StackTrace}${newline}" />
			<parameter name="@Thread" layout="${threadid}" />
			<parameter name="@ServiceContextKey" layout="${gdc:ServiceContextKey}" />
		</target>
	</targets>
	<rules>
		<!--<logger name="*" minlevel="Trace" writeTo="file" />    
    <logger name="*" level="Info" writeTo="file" />-->
		<logger name="*" minlevel="Info" writeTo="file,EmailDispatcherServiceDBLog"/>
	</rules>
</nlog>
