<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<add key="DataFeedInterval" value="300000" />
		<add key="DataFeedFromHour" value="00" />
		<add key="DataFeedFromMinute" value="00" />
		<add key="DataFeedToHour" value="24" />
		<add key="DataFeedToMinute" value="00" />
		<add key="TemporaryFileLocation" value="C:\TemporaryFileLocation" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />

		<add key="DataBaseNamePrefix" value="ADB_QA" />

		<!--Mail Keys-->
		<add key="mailSenderName" value="ADB support team" />
		<add key="IsSmtpDataEncypted" value="true" />
		<add key="IsSMTPSectionDefined" value="true" />

		<!--Entity Command Timeout Setting Override-->
		<add key="EntityCommandTimeoutSetting" value="60" />
	</appSettings>
	<system.net>
		<mailSettings>
			<smtp deliveryMethod="Network" from="info.apps@intsof.com">
				<network defaultCredentials="true" host="smtp.emailsrvr.com" port="25" userName="yqvW3brwZ6Lwusib6wa9Zb9wQS2cE2rkTUkPkbmqln6+4tNEEkpwhy72/qvyw1tT"
						  password="DGCYEK30TqtXPNv2zeo0kXBng32ZY8mfPV8giF5Y4sg=" />
			</smtp>
		</mailSettings>
	</system.net>
	<connectionStrings>
		<add name="ConnectionName" connectionString="data source=172.16.1.33\SQL2014DEV;initial catalog=ADB_Prod_Framework;persist security info=True;user id=adb_prod;password=adb_prod;multipleactiveresultsets=True;" providerName="System.Data.EntityClient" />
		<add name="SysXAppDBEntities" connectionString="metadata=res://*/SysXEntities.csdl|res://*/SysXEntities.ssdl|res://*/SysXEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=172.16.1.33\SQL2014DEV;;Initial Catalog=ADB_Prod_Framework;Persist Security Info=True;user id=adb_prod;password=adb_prod;Connection Timeout=600;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="SysXAppDBCaching" connectionString="data source=172.16.1.33\SQL2014DEV;;initial catalog=ADB_Prod_Framework;persist security info=True;user id=startUser;password=startUser;Max Pool Size=5;Pooling=true" />
		<add name="SysXAppDBSubscriberCaching" connectionString="data source=172.16.1.33\SQL2014DEV;;initial catalog=ADB_Prod_Framework;persist security info=True;user id=subscribeUser;password=subscribeUser;Max Pool Size=5;Pooling=true" />
		<add name="MessagingDBCaching" connectionString="data source=172.16.1.33\SQL2014DEV;;initial catalog=ADB_Prod_Messaging;persist security info=True;user id=startUser;password=startUser;Max Pool Size=5;Pooling=true" />
		<add name="MessagingDBSubscriberCaching" connectionString="data source=172.16.1.33\SQL2014DEV;;initial catalog=ADB_Prod_Messaging;persist security info=True;user id=subscribeUser;password=subscribeUser;Max Pool Size=5;Pooling=true" />
		<add name="ADBMessageDB_DevEntities" connectionString="metadata=res://*/ADBMessageQueue.csdl|res://*/ADBMessageQueue.ssdl|res://*/ADBMessageQueue.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.1.33\SQL2014DEV;;initial catalog=ADB_Prod_Messaging;persist security info=True;user id=adb_prod;password=adb_prod;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="ADBApplicantMessageDB_DevEntities" connectionString="metadata=res://*/ApplicantMessageQueue.csdl|res://*/ApplicantMessageQueue.ssdl|res://*/ApplicantMessageQueue.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.1.33\SQL2014DEV;;initial catalog=ADB_Prod_Messaging;persist security info=True;user id=adb_prod;password=adb_prod;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="ADB_SharedDataEntities" connectionString="metadata=res://*/SharedDataEntity.ADBSharedDataEntity.csdl|res://*/SharedDataEntity.ADBSharedDataEntity.ssdl|res://*/SharedDataEntity.ADBSharedDataEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.1.33\SQL2014DEV;;initial catalog=ADB_Prod_SharedData;persist security info=True;user id=adb_prod;password=adb_prod;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.414.0" newVersion="2.0.414.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior name="">
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
				<behavior name="dataFeed">
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
			<endpointBehaviors>
				<behavior name="webhttpenabled">
					<webHttp defaultBodyStyle="Wrapped" defaultOutgoingResponseFormat="Xml" helpEnabled="true">
					</webHttp>
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<bindings>
			<webHttpBinding>
				<binding name="WebHttpBinding_DataFeed" closeTimeout="10:01:00" openTimeout="10:01:00" receiveTimeout="10:10:00" sendTimeout="10:01:00" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" useDefaultWebProxy="true" maxBufferSize="2147483647" />
			</webHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://localhost:25143/DataFeed.svc" behaviorConfiguration="webhttpenabled" binding="webHttpBinding" bindingConfiguration="WebHttpBinding_DataFeed" contract="DataFeedClient.IDataFeed" name="WebHttpBinding_DataFeed" />
			<!--<endpoint address="http://172.16.1.19/WidgetService/datafeed.svc" behaviorConfiguration="webhttpenabled" binding="webHttpBinding" bindingConfiguration="WebHttpBinding_DataFeed" contract="DataFeedService.IDataFeed" name="WebHttpBinding_DataFeed"/>-->
		</client>
	</system.serviceModel>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>
</configuration>