<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <!-- Log in a separate thread, possibly queueing up to
        5000 messages. When the queue overflows, discard any
        extra messages-->
    <!--archiveAboveSize (in bytes) 
      2MB->2097152 bytes
      3MB->3145728 bytes
      5MB->5242880 bytes
      10MB->10485760
    -->
    <target name="DataFeedServiceLogger" xsi:type="File" fileName="${basedir}/DataFeedServiceLogs/${shortdate}/DataFeedServiceLog.txt"
            archiveFileName="${basedir}/DataFeedServiceLogs/${shortdate}/archives/DataFeedServiceLog.{#######}.txt" archiveAboveSize="5242880" archiveNumbering="Sequence" />
	<target name="DataFeedServiceDBLogger" xsi:type="Database"
			connectionString="data source=172.16.1.33\SQL2014DEV;initial catalog=ApplicationLog;persist security info=True;user id=adb_adb20;password=adb_adb20;multipleactiveresultsets=True;"
			commandText="EXEC usp_InsertDataFeedServiceLog
			@CallSite,
			@Level,
			@Logger,
			@Date,
			@Exception,
			@Message,
			@StackTrace,
			@Thread,
			@ServiceContextKey">
		<parameter name="@CallSite" layout="${callsite:filename=true}" />
		<parameter name="@Level" layout="${level}" />
		<parameter name="@Logger" layout="${logger}" />
		<parameter name="@Date" layout="${longdate}" />
		<parameter name="@Exception" layout="${exception}" />
		<parameter name="@Message" layout="${message}" />
		<parameter name="@StackTrace" layout="${exception:format=ToString,StackTrace}${newline}" />
		<parameter name="@Thread" layout="${threadid}" />
		<parameter name="@ServiceContextKey" layout="${gdc:ServiceContextKey}" />
	</target>
  </targets>
  <rules>
    <!--<logger name="*" minlevel="Trace" writeTo="file" />    
    <logger name="*" level="Info" writeTo="file" />-->
    <logger name="DataFeedServiceLogger" minlevel="Debug" writeTo="DataFeedServiceLogger,DataFeedServiceDBLogger" />
  </rules>
</nlog>
