<div id="bodyBlock" class="container-fluid">
    <section class="p-2">
        <div class="row">
            <div class="col-md-12 font-weight-bold">
               <label id="CREATODR"></label> (<label id="STEP"></label> {{orderInfo.CurrentStep}})
               <!-- <div class="col-md-12" >
                <span id="SLOTEXPINSTRUCTION"></span>
              </div> -->
            </div>
            <div class="col-md-12 font-weight-bold">             
                 <span id="SLOTEXPINSTRUCTION"></span>
             </div>
            
            <div class="col-md-12 bg-white shadow-sm rounded py-3">
                <form [formGroup]="EventDetailconfirmForm">
                    <div class="row">
                        <div class="col-md-6 mb-1">
                            <label class="is-required" id="EVNTSTRTDATE"></label>
                           
                            <input  [hidden]="!hideDateSlotInSpanish" type="text" id="startDate" class="form-control" value="{{StartDateTime | date:'EEEE, MMMM d, y'}}" placeholder="StartDate"
                            formControlName="StartDate" disabled >
                                
                            <input [hidden]="hideDateSlotInSpanish" type="text" id="startDate" class="form-control" value="{{dateSlotInSpanish}}" placeholder="StartDate"
                                formControlName="StartDate" disabled >
                        </div>
                        <div class="col-md-6 mb-1">
                            <label class="is-required" id="EVNTNAMENDES"></label>
                            <input type="text" id="eventDescription" class="form-control" value="{{EventDescription}}" disabled formControlName="EventDescription">
                        </div>
                    </div>

                    <div class="row">
                            <div class="col-lg-12" style="text-align: center">
                              <!-- <span style="color: red" *ngIf="selectedSlotID == 0" id="AVLBLSLOTS">
                                {{this.orderInfo.LocationDetail.SlotDate | date: 'EEEE, MMMM d, y'}}</span>
                              <span style="color: red" *ngIf="ErrorMessage != ''">{{ErrorMessage}}</span>
                              <span style="color: red" *ngIf="selectedSlotID != 0" id="SLCTEDDATETIME">{{SelectedStartTime | date:'EEEE, MMMM d, y' }} ({{SelectedStartTime | date:'h:mm
                                  a'}} - {{SelectedEndTime | date:'h:mm a'}})</span> -->
                
                              <span style="color: #335;font-weight: bold;font-size: 12px" [hidden]="selectedSlotID != 0" id="AVLBLSLOTS"></span>
                              <span style="color: #335;font-weight: bold;font-size: 12px" [hidden]="selectedSlotID != 0" id="FOR"></span>
                              <span style="color: #335;font-weight: bold;font-size: 12px" [hidden]="selectedSlotID != 0" >:</span>
                              <span [hidden]="selectedSlotID != 0">
                                  <span [hidden]="!hideDateSlotInSpanish" style="color: #335;font-weight: bold;font-size: 12px" id="dateSlotInEnglish">
                 {{this.orderInfo.LocationDetail.SlotDate | date:'EEEE, MMMM d, y'}} 
                                </span>
                                <span [hidden]="hideDateSlotInSpanish" style="color: #335;font-weight: bold;font-size: 12px" id="dateSlotInSpanish">
                                    {{dateSlotInSpanish}}
                                  </span>
                                </span>
                              <span style="color: red" [hidden]="ErrorMessage == ''" >{{ErrorCustMessage}}</span>
                              <span style="color: red" [hidden]="selectedSlotID == 0" id="SLCTEDDATETIME"></span>
                              <span style="color: red" [hidden]="selectedSlotID == 0 "><span [hidden]="hideDateSlotInSpanish">{{dateSlotInSpanish}}</span><span [hidden]="!hideDateSlotInSpanish"> 
                                  {{SelectedStartTime | date:'EEEE, MMMM d, y' }}</span> ({{SelectedStartTime | date:'h:mm a'}} - {{SelectedEndTime| date:'h:mm a'}})</span>
                            </div>
                            <div class="col-lg-12 d-flex flex-row justify-content-center" style="text-align: center">
                              <div class="pr-2">
                                <i class="fas fa-square pr-1 selected-slotcolor">
                                  <label id="SELECTED"></label>
                                </i>
                              </div>
                              <div class="pr-2">
                                <i class="fas fa-square pr-1 avaliable-slotcolor">
                                  <label id="AVAILABLE"></label>
                                </i>
                              </div>
                              <div>
                                <i class="fas fa-square pr-1 notavaliable-slotcolor">
                                  <label id="NOTAVAILABLE"></label>
                                </i>
                              </div>
                            </div>
                          </div>
                
                          <div class="row">
                            <div class="col-lg-3 col-md-4 col-sm-6 mb-1" *ngFor="let slots of lstScheduleSlots">
                              <button type="button" [disabled]="slots.IsAvailable != true" [ngStyle]="{'background-color': slots.SlotID == selectedSlotID?'#3f98e3':slots.IsAvailable == true?'#abd686':'#cbcbb4'
                                    ,'border-color': slots.IsAvailable == true?'#abd686':'#cbcbb4'}" (click)="onslotselected(slots.SlotID,slots.StartDateTime,slots.EndDateTime)"
                                class="btn btn-primary btn-block">{{slots.StartDateTime | date:'h:mm a'}} - {{slots.EndDateTime | date:'h:mm a'}}</button>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-lg-12" style="text-align: center">
                              <span style="color: red" [hidden]="IsSlotSelected" id="SLCTAPPOINTMENT"></span>
                            </div>
                          </div>
                          <br>
                    <div class="row">
                        <div class="col-md-12 d-flex justify-content-center">
                            <button type="button" autofocus="false" (click)="goBack()" class="btn btn-primary fixedWidthBtn">
                                <i class="fas fa-arrow-left pr-1"></i>
                                <label id="PREVIOUS"></label>
                            </button>
                            <button type="button" autofocus="false" (click)="onSubmit()" class="btn btn-primary fixedWidthBtn mx-1">
                                    <label id="NEXT"></label>
                                <i class="fas fa-arrow-right pl-1"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>