<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
    <add key="mailSenderName" value="ADB support team" />
    <add key="lkpTableNonSqlDependent" value="" />
    <add key="IsCacheLogEnable" value="false" />
    <add key="StartCacheDependency" value="true" />
    <add key="LogLevel" value="DEBUG" />
    <add key="LoggerClassName" value="INTSOF.Logger.FileLogger" />
    <add key="LogFolderPath" value="C:/SysXLogs/" />
    <!-- Developer Machine Key Value = 10361011192, Server Machine Key Value Activation key #1: 10361198491,
    Activation key #2: 10361266592, Activation key #3: 10361334693, Activation key #4: 10361353591 -->
    <!--<add key="WinnovativePDFMerge" value="oC49LzwvOi87IT8vPD4hPj0hNjY2Ng=="/>-->
    <add key="WinnovativePDFMerge" value="AI6dj5yPn4+agZ+PnJ6Bnp2BlpaWlg=="/>
    <!-- Serial Keys for UseOffice and PDFVision -->
    <add key="UseOfficeSerialKey" value="10031198470" />
    <!-- Developer Machine Key Value = 10031198470, Server Machine Key Value = 10031266571 -->
    <add key="PdfVisionSerialKey" value="10361011192" />
    <!-- To set Image to PDF compression scale in integer or float -->
    <add key="ImageToPDFCompressionScale" value="70" />
    <!-- To set image maximum resolution while compressing -->
    <add key="ImageMaxResolution" value="96" />
    <!-- To set image maximum height while compressing -->
    <add key="ImageMaxHeight" value="1014" />
    <!-- To set image maximum width while compressing -->
    <add key="ImageMaxWidth" value="1280" />

    <!-- File Locations & Upload Path -->
    <add key="ApplicantFileLocation" value="C:\ApplicantFileAttachments\" />
    <add key="TemporaryFileLocation" value="C:\TemporaryFileLocation\" />

    <!--Amazon Web Services(AWS) S3 -->
    <add key="AWSDirPathInBucket" value="Offshore/DevDocuments" />
    <add key="AWSUseS3" value="false" />
    <add key="AWSAccessKey" value="AKIAJQ37FUXSMKSRXWJQ" />
    <add key="AWSSecretKey" value="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" />
    <add key="AWSBucket" value="complio.uatdocs.adb" />
    <add key="AWSRegion" value="s3-us-west-2.amazonaws.com" />

    <!--Mail Keys-->
    <add key="IsSmtpDataEncypted" value="true" />
    <add key="IsSMTPSectionDefined" value="true" />

    <!--Entity Command Timeout Setting Override-->
    <add key="EntityCommandTimeoutSetting" value="60" />
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.7.2" >
      <assemblies>
        <remove assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
    </compilation>
    <pages controlRenderingCompatibilityVersion="4.0" />
    <httpRuntime targetFramework="4.7.2"/>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="Session" />
    </modules>
  </system.webServer>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="WebBehavior">
          <webHttp />
        </behavior>
        <behavior name="netTcpBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <services>
      <service name="INTSOF.Queues.PDFConversion">
        <endpoint address="PDFConversion" binding="basicHttpBinding" contract="INTSOF.Queues.IPDFConversion"/>
      </service>
      <service name="INTSOF.Queues.EmailService">
        <endpoint address="EmailService" binding="basicHttpBinding" contract="INTSOF.Queues.IEmailService"/>
        <endpoint address="Alert" behaviorConfiguration="WebBehavior" binding="webHttpBinding" contract="INTSOF.Queues.IEmailService" />
      </service>
    </services>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="info.apps@intsof.com">
        <network defaultCredentials="true" host="smtp.emailsrvr.com" port="25" userName="yqvW3brwZ6Lwusib6wa9Zb9wQS2cE2rkTUkPkbmqln6+4tNEEkpwhy72/qvyw1tT"
						  password="DGCYEK30TqtXPNv2zeo0kXBng32ZY8mfPV8giF5Y4sg=" />
      </smtp>
    </mailSettings>
  </system.net>

</configuration>