<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <!-- Log in a separate thread, possibly queueing up to
        5000 messages. When the queue overflows, discard any
        extra messages-->
    <!--archiveAboveSize (in bytes) 
      2MB->2097152 bytes
      3MB->3145728 bytes
      5MB->5242880 bytes
      10MB->10485760
    -->
    <target name="ClinicalRotationLog" xsi:type="File" fileName="${basedir}/WCFServiceLogs/${shortdate}/ClinicalRotation.txt"
            archiveFileName="${basedir}/WCFServiceLogs/${shortdate}/archives/ClinicalRotation.{#######}.txt" archiveAboveSize="5242880" archiveNumbering="Sequence" />

    <target name="ClientContactLog" xsi:type="File" fileName="${basedir}/WCFServiceLogs/${shortdate}/ClientContact.txt"
           archiveFileName="${basedir}/WCFServiceLogs/${shortdate}/archives/ClientContact.{#######}.txt" archiveAboveSize="5242880" archiveNumbering="Sequence" />

    <target name="RequirementPkgLog" xsi:type="File" fileName="${basedir}/WCFServiceLogs/${shortdate}/RequirementPkgLog.txt"
           archiveFileName="${basedir}/WCFServiceLogs/${shortdate}/archives/RequirementPkgLog.{#######}.txt" archiveAboveSize="5242880" archiveNumbering="Sequence" />

    <target name="ApplicantClinicalRotationLog" xsi:type="File" fileName="${basedir}/WCFServiceLogs/${shortdate}/ApplicantClinicalRotationLog.txt"
          archiveFileName="${basedir}/WCFServiceLogs/${shortdate}/archives/ApplicantClinicalRotationLog.{#######}.txt" archiveAboveSize="5242880" archiveNumbering="Sequence" />

    <target name="AgencyHierarchyLog" xsi:type="File" fileName="${basedir}/WCFServiceLogs/${shortdate}/AgencyHierarchy.txt"
          archiveFileName="${basedir}/WCFServiceLogs/${shortdate}/archives/AgencyHierarchyLog.{#######}.txt" archiveAboveSize="5242880" archiveNumbering="Sequence" />

    <target name="database" xsi:type="database"  >
      <parameter name="@Date" layout="${longdate}" />
      <parameter name="@Exception" layout="${exception}" />
      <parameter name="@Message" layout="${message}" /> 
      <parameter name="@StackTrace" layout="${stacktrace}" />
    </target>
    <target xsi:type="Database"
            name="database"
            connectionString="data source=172.16.1.43\SQL2016DB3;initial catalog=ADB_Prod_SharedData;persist security info=True;user id=adb_QAprod;password=adbQA_prod;multipleactiveresultsets=True;"
            commandText="EXEC usp_InsertServiceLog 
                            @CallSite,
                            @Level,
                            @Logger,
                            @Date,
                            @Exception,
                            @Message,
                            @StackTrace,
                            @Thread">
      <parameter name="@CallSite" layout="${callsite:filename=true}" />
      <parameter name="@Level" layout="${level}" />
      <parameter name="@Logger" layout="${logger}" />
      <parameter name="@Date" layout="${longdate}" />
      <parameter name="@Exception" layout="${exception}" />
      <parameter name="@Message" layout="${message}" />
      <parameter name="@StackTrace" layout="${exception:format=ToString,StackTrace}${newline}" />
      <parameter name="@Thread" layout="${threadid}" />
    </target>

	  <target name="databaseDB" xsi:type="Database"
				connectionString="data source=172.16.1.33\SQL2014DEV;initial catalog=ApplicationLog;persist security info=True;user id=adb_adb20;password=adb_adb20;multipleactiveresultsets=True;"
				commandText="EXEC usp_InsertIntsofServiceLog 
						@CallSite,
						@Level,
						@Logger,
						@Date,
						@Exception,
						@Message,
						@StackTrace,
						@Thread,
						@RequestID,
						@ClientIP,
						@SessionID">
		  <parameter name="@CallSite" layout="${callsite:filename=true}" />
		  <parameter name="@Level" layout="${level}" />
		  <parameter name="@Logger" layout="${logger}" />
		  <parameter name="@Date" layout="${longdate}" />
		  <parameter name="@Exception" layout="${exception}" />
		  <parameter name="@Message" layout="${message}" />
		  <parameter name="@StackTrace" layout="${exception:format=ToString,StackTrace}${newline}" />
		  <parameter name="@Thread" layout="${threadid}" />
		  <parameter name="@RequestID" layout="${gdc:requestid}" />
		  <parameter name="@ClientIP" layout="${gdc:clientip}" />
		  <parameter name="@SessionID" layout="${gdc:sessionid}" />
	  </target>
  </targets>
  <rules>
    <logger name="ClinicalRotationLogger" minlevel="Debug" writeTo="ClinicalRotationLog" />
    <logger name="ClientContactLogger" minlevel="Debug" writeTo="ClientContactLog" />
    <logger name="RequirementPkgLogger" minlevel="Debug" writeTo="RequirementPkgLog" />
    <logger name="ApplicantClinicalRotationLogger" minlevel="Debug" writeTo="ApplicantClinicalRotationLog" />
    <logger name="DBLogger" minlevel="Debug" writeTo="database" />
    <logger name="AgencyHierarchyLogger" minlevel="Debug" writeTo="AgencyHierarchyLog" />
    <logger name="DBLogger" minlevel="Debug" appendTo="databaseDB" />
	  
  </rules>
</nlog>
