<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
    <add key="SenderName" value="ADB"/>
    <add key="SenderEmailId" value="info.apps@intsof.com"/>
    <add key="LoggerClassName" value="INTSOF.Logger.LogManager"/>
    <add key="LogFolderPath" value="C:/Intersoft AppPool/INTSOFService/"/>
    <add key="LogLevel" value="DEBUG"/>
    <!--when loggerType set 'FileLoggerAndDBLogger' File and DB logging will be enable,
    when loggerType set 'FileLogger' only File logging will be enable and
    when loggerType set 'DBLogger' only DB logging will be enable-->
    <add key="LoggerType" value="FileLoggerAndDBLogger"/>
    <!--Works for - Shared User & ADB Admin Only-->
    <add key="shareduserloginurl" value="localhost1"/>
    <add key="owin:AutomaticAppStartup" value="false"/>
    <!--Entity Command Timeout Setting Override-->
    <add key="EntityCommandTimeoutSetting" value="60"/>
  </appSettings>
  <system.web>
    <compilation targetFramework="4.7.2" debug="true">
      <assemblies>
        <remove assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <remove assembly="Microsoft.ApplicationServer.Caching.Client, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <remove assembly="Microsoft.ApplicationServer.Caching.Core, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.7.2"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="INTSOF.Service.Modules.ClinicalRotation.ClientContact" behaviorConfiguration="ClientContactSvcBehavior">
        <endpoint address="" contract="INTSOF.ServiceInterface.Modules.ClinicalRotation.IClientContact" binding="basicHttpBinding"/>
      </service>
      <service name="INTSOF.Service.Modules.ClinicalRotation.ClinicalRotation" behaviorConfiguration="ClinicalRotationSvcBehavior">
        <endpoint address="" contract="INTSOF.ServiceInterface.Modules.ClinicalRotation.IClinicalRotation" binding="basicHttpBinding"/>
      </service>
      <service name="INTSOF.Service.Modules.RequirementPackage.RequirementPackage" behaviorConfiguration="RequirementPackageSvcBehavior">
        <endpoint address="" contract="INTSOF.ServiceInterface.Modules.RequirementPackage.IRequirementPackage" binding="basicHttpBinding"/>
      </service>
      <service name="INTSOF.Service.Modules.ApplicantClinicalRotation.ApplicantClinicalRotation" behaviorConfiguration="ApplicantClinicalRotationSvcBehavior">
        <endpoint address="" contract="INTSOF.ServiceInterface.Modules.ApplicantClinicalRotation.IApplicantClinicalRotation" binding="basicHttpBinding"/>
      </service>
      <service name="INTSOF.Service.Modules.AgencyHierarchy.AgencyHierarchy" behaviorConfiguration="AgencyHierarchySvcBehavior">
        <endpoint address="" contract="INTSOF.ServiceInterface.Modules.AgencyHierarchy.IAgencyHierarchy" binding="basicHttpBinding"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ClinicalRotationSvcBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
        <behavior name="ClientContactSvcBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
        <behavior name="RequirementPackageSvcBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
        <behavior name="ApplicantClinicalRotationSvcBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
        <behavior name="AgencyHierarchySvcBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true">
      <serviceActivations>
        <add service="INTSOF.Service.Modules.ApplicantClinicalRotation.ApplicantClinicalRotation" relativeAddress="ApplicantClinicalRotation.svc"/>
        <add service="INTSOF.Service.Modules.ClinicalRotation.ClientContact" relativeAddress="ClientContact.svc"/>
        <add service="INTSOF.Service.Modules.ClinicalRotation.ClinicalRotation" relativeAddress="ClinicalRotation.svc"/>
        <add service="INTSOF.Service.Modules.RequirementPackage.RequirementPackage" relativeAddress="RequirementPackage.svc"/>
        <add service="INTSOF.Service.Modules.AgencyHierarchy.AgencyHierarchy" relativeAddress="AgencyHierarchy.svc"/>
      </serviceActivations>
    </serviceHostingEnvironment>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="false"/>
  </system.webServer>
  <connectionStrings>

    <!--Dev new -->
    <add name="ConnectionName" connectionString="data source=172.16.1.33\SQL2014DEV;initial catalog=ADB_Prod_Framework_Dev;persist security info=True;user id=adb_prod;password=adb_prod;multipleactiveresultsets=True;"      providerName="System.Data.EntityClient" />
    <add name="SysXAppDBEntities" connectionString="metadata=res://*/SysXEntities.csdl|res://*/SysXEntities.ssdl|res://*/SysXEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=172.16.1.33\SQL2014DEV;;Initial Catalog=ADB_Prod_Framework_Dev;Persist Security Info=True;user id=adb_prod;password=adb_prod;Connection Timeout=600;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;"      providerName="System.Data.EntityClient" />
    <add name="SysXAppDBCaching" connectionString="data source=172.16.1.33\SQL2014DEV;;initial catalog=ADB_Prod_Framework_Dev;persist security info=True;user id=startUser;password=startUser;Max Pool Size=5;Pooling=true" />
    <add name="SysXAppDBSubscriberCaching" connectionString="data source=172.16.1.33\SQL2014DEV;;initial catalog=ADB_Prod_Framework_Dev;persist security info=True;user id=subscribeUser;password=subscribeUser;Max Pool Size=5;Pooling=true" />
    <add name="MessagingDBCaching" connectionString="data source=172.16.1.33\SQL2014DEV;;initial catalog=ADB_Prod_Messaging_Dev;persist security info=True;user id=startUser;password=startUser;Max Pool Size=5;Pooling=true" />
    <add name="MessagingDBSubscriberCaching" connectionString="data source=172.16.1.33\SQL2014DEV;;initial catalog=ADB_Prod_Messaging_Dev;persist security info=True;user id=subscribeUser;password=subscribeUser;Max Pool Size=5;Pooling=true" />
    <add name="ADBMessageDB_DevEntities" connectionString="metadata=res://*/ADBMessageQueue.csdl|res://*/ADBMessageQueue.ssdl|res://*/ADBMessageQueue.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.1.33\SQL2014DEV;;initial catalog=ADB_Prod_Messaging_Dev;persist security info=True;user id=adb_prod;password=adb_prod;multipleactiveresultsets=True;App=EntityFramework&quot;"      providerName="System.Data.EntityClient" />
    <add name="ADBApplicantMessageDB_DevEntities" connectionString="metadata=res://*/ApplicantMessageQueue.csdl|res://*/ApplicantMessageQueue.ssdl|res://*/ApplicantMessageQueue.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.1.33\SQL2014DEV;;initial catalog=ADB_Prod_Messaging_Dev;persist security info=True;user id=adb_prod;password=adb_prod;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ADB_SharedDataEntities" connectionString="metadata=res://*/SharedDataEntity.ADBSharedDataEntity.csdl|res://*/SharedDataEntity.ADBSharedDataEntity.ssdl|res://*/SharedDataEntity.ADBSharedDataEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.1.33\SQL2014DEV;;initial catalog=ADB_Prod_SharedData_Dev;persist security info=True;user id=adb_prod;password=adb_prod;MultipleActiveResultSets=True;App=EntityFramework&quot;"      providerName="System.Data.EntityClient" />
    <add name="ADB_Security_Rotation_PackageConnectionString" connectionString="Data Source=172.16.1.33\SQL2014DEV;Initial Catalog=ADB_Prod_Framework_Dev;Persist Security Info=True;User ID=adb_prod;Password=adb_prod" providerName="System.Data.SqlClient" />
    <add name="ADB_LocationDataEntities" connectionString="metadata=res://*/LocationEntity.ADBLocationEntity.csdl|res://*/LocationEntity.ADBLocationEntity.ssdl|res://*/LocationEntity.ADBLocationEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.1.33\SQL2014DEV;initial catalog=ADB_Prod_LocationData_Dev;persist security info=True;user id=adb_prod;password=adb_prod;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

    <!--Server 12
    <add name="ConnectionName" connectionString="data source=172.16.1.43\SQL2016DB3;initial catalog=ADB_QA_Srvr12_Security;persist security info=True;user id=adbQA_prod;password=adbQA_prod;multipleactiveresultsets=True;" providerName="System.Data.EntityClient" />
    <add name="SysXAppDBEntities" connectionString="metadata=res://*/SysXEntities.csdl|res://*/SysXEntities.ssdl|res://*/SysXEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=172.16.1.43\SQL2016DB3;Initial Catalog=ADB_QA_Srvr12_Security;Persist Security Info=True;user id=adbQA_prod;password=adbQA_prod;Connection Timeout=600;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SysXAppDBCaching" connectionString="data source=172.16.1.43\SQL2016DB3;initial catalog=ADB_QA_Srvr12_Security;persist security info=True;user id=startUser;password=startUser;Max Pool Size=5;Pooling=true" />
    <add name="SysXAppDBSubscriberCaching" connectionString="data source=172.16.1.43\SQL2016DB3;initial catalog=ADB_QA_Srvr12_Security;persist security info=True;user id=subscribeUser;password=subscribeUser;Max Pool Size=5;Pooling=true" />
    <add name="ADBMessageDB_DevEntities" connectionString="metadata=res://*/ADBMessageQueue.csdl|res://*/ADBMessageQueue.ssdl|res://*/ADBMessageQueue.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.1.43\SQL2016DB3;initial catalog=ADB_QA_Srvr12_Messaging;persist security info=True;user id=adbQA_prod;password=adbQA_prod;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ADBApplicantMessageDB_DevEntities" connectionString="metadata=res://*/ApplicantMessageQueue.csdl|res://*/ApplicantMessageQueue.ssdl|res://*/ApplicantMessageQueue.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.1.43\SQL2016DB3;initial catalog=ADB_QA_Srvr12_Messaging;persist security info=True;user id=adbQA_prod;password=adbQA_prod;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MessagingDBCaching" connectionString="data source=172.16.1.43\SQL2016DB3;initial catalog=ADB_QA_Srvr12_Messaging;persist security info=True;user id=startUser;password=startUser;Max Pool Size=5;Pooling=true" />
    <add name="MessagingDBSubscriberCaching" connectionString="data source=172.16.1.43\SQL2016DB3;initial catalog=ADB_QA_Srvr12_Messaging;persist security info=True;user id=subscribeUser;password=subscribeUser;Max Pool Size=5;Pooling=true" />
    <add name="ADB_SharedDataEntities" connectionString="metadata=res://*/SharedDataEntity.ADBSharedDataEntity.csdl|res://*/SharedDataEntity.ADBSharedDataEntity.ssdl|res://*/SharedDataEntity.ADBSharedDataEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.1.43\SQL2016DB3;initial catalog=ADB_QA_Srvr12_SharedData;persist security info=True;user id=adbQA_prod;password=adbQA_prod;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ADB_LocationDataEntities" connectionString="metadata=res://*/LocationEntity.ADBLocationEntity.csdl|res://*/LocationEntity.ADBLocationEntity.ssdl|res://*/LocationEntity.ADBLocationEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.1.43\SQL2016DB3;initial catalog=ADB_QA_Srvr12_LocationData;persist security info=True;user id=adbQA_prod;password=adbQA_prod;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
-->

    <!--Dev  Rotation Package / Analyze  
    <add name="ConnectionName" connectionString="data source=172.16.1.33\SQL2014DEV;initial catalog=ADB_ANLS_Framework;persist security info=True;user id=adb_prod;password=adb_prod;multipleactiveresultsets=True;" providerName="System.Data.EntityClient" />
    <add name="SysXAppDBEntities" connectionString="metadata=res://*/SysXEntities.csdl|res://*/SysXEntities.ssdl|res://*/SysXEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=172.16.1.33\SQL2014DEV;;Initial Catalog=ADB_ANLS_Framework;Persist Security Info=True;user id=adb_prod;password=adb_prod;Connection Timeout=600;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SysXAppDBCaching" connectionString="data source=172.16.1.33\SQL2014DEV;;initial catalog=ADB_ANLS_Framework;persist security info=True;user id=startUser;password=startUser;Max Pool Size=5;Pooling=true" />
    <add name="SysXAppDBSubscriberCaching" connectionString="data source=172.16.1.33\SQL2014DEV;;initial catalog=ADB_ANLS_Framework;persist security info=True;user id=subscribeUser;password=subscribeUser;Max Pool Size=5;Pooling=true" />
    <add name="MessagingDBCaching" connectionString="data source=172.16.1.33\SQL2014DEV;;initial catalog=ADB_ANLS_Messaging;persist security info=True;user id=adb_prod;password=adb_prod;Max Pool Size=5;Pooling=true" />
    <add name="MessagingDBSubscriberCaching" connectionString="data source=172.16.1.33\SQL2014DEV;;initial catalog=ADB_ANLS_Messaging;persist security info=True;user id=subscribeUser;password=subscribeUser;Max Pool Size=5;Pooling=true" />
    <add name="ADBMessageDB_DevEntities" connectionString="metadata=res://*/ADBMessageQueue.csdl|res://*/ADBMessageQueue.ssdl|res://*/ADBMessageQueue.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.1.33\SQL2014DEV;;initial catalog=ADB_ANLS_Messaging;persist security info=True;user id=adb_prod;password=adb_prod;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ADBApplicantMessageDB_DevEntities" connectionString="metadata=res://*/ApplicantMessageQueue.csdl|res://*/ApplicantMessageQueue.ssdl|res://*/ApplicantMessageQueue.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.1.33\SQL2014DEV;;initial catalog=ADB_ANLS_Messaging;persist security info=True;user id=adb_prod;password=adb_prod;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ADB_LocationDataEntities" connectionString="metadata=res://*/LocationEntity.ADBLocationEntity.csdl|res://*/LocationEntity.ADBLocationEntity.ssdl|res://*/LocationEntity.ADBLocationEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.1.33\SQL2014DEV;initial catalog=ADB_Prod_LocationData;persist security info=True;user id=adb_prod;password=adb_prod;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ADB_SharedDataEntities" connectionString="metadata=res://*/SharedDataEntity.ADBSharedDataEntity.csdl|res://*/SharedDataEntity.ADBSharedDataEntity.ssdl|res://*/SharedDataEntity.ADBSharedDataEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.1.33\SQL2014DEV;;initial catalog=ADB_ANLS_SharedData;persist security info=True;user id=adb_prod;password=adb_prod;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
-->
    <!-- Analysis 44 
    <add name="ConnectionName" connectionString="data source=172.16.1.44\SQL2016DB4;initial catalog=ADB_ANLS_Framework;persist security info=True;user id=ADB_ANLS;password=ADB_ANLS;multipleactiveresultsets=True;" providerName="System.Data.EntityClient" />
    <add name="SysXAppDBEntities" connectionString="metadata=res://*/SysXEntities.csdl|res://*/SysXEntities.ssdl|res://*/SysXEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=172.16.1.44\SQL2016DB4;Initial Catalog=ADB_ANLS_Framework;Persist Security Info=True;user id=ADB_ANLS;password=ADB_ANLS;Connection Timeout=600;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SysXAppDBCaching" connectionString="data source=172.16.1.44\SQL2016DB4;initial catalog=ADB_ANLS_Framework;persist security info=True;user id=startUser;password=startUser;Max Pool Size=5;Pooling=true" />
    <add name="SysXAppDBSubscriberCaching" connectionString="data source=172.16.1.44\SQL2016DB4;initial catalog=ADB_ANLS_Framework;persist security info=True;user id=subscribeUser;password=subscribeUser;Max Pool Size=5;Pooling=true" />
    <add name="ADBMessageDB_DevEntities" connectionString="metadata=res://*/ADBMessageQueue.csdl|res://*/ADBMessageQueue.ssdl|res://*/ADBMessageQueue.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.1.44\SQL2016DB4;initial catalog=ADB_ANLS_Messaging;persist security info=True;user id=ADB_ANLS;password=ADB_ANLS;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ADBApplicantMessageDB_DevEntities" connectionString="metadata=res://*/ApplicantMessageQueue.csdl|res://*/ApplicantMessageQueue.ssdl|res://*/ApplicantMessageQueue.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.1.44\SQL2016DB4;initial catalog=ADB_ANLS_Messaging;persist security info=True;user id=ADB_ANLS;password=ADB_ANLS;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MessagingDBCaching" connectionString="data source=172.16.1.44\SQL2016DB4;initial catalog=ADB_ANLS_Messaging;persist security info=True;user id=startUser;password=startUser;Max Pool Size=5;Pooling=true" />
    <add name="MessagingDBSubscriberCaching" connectionString="data source=172.16.1.44\SQL2016DB4;initial catalog=ADB_ANLS_Messaging;persist security info=True;user id=subscribeUser;password=subscribeUser;Max Pool Size=5;Pooling=true" />
    <add name="ADB_SharedDataEntities" connectionString="metadata=res://*/SharedDataEntity.ADBSharedDataEntity.csdl|res://*/SharedDataEntity.ADBSharedDataEntity.ssdl|res://*/SharedDataEntity.ADBSharedDataEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.1.44\SQL2016DB4;initial catalog=ADB_ANLS_SharedData;persist security info=True;user id=ADB_ANLS;password=ADB_ANLS;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ADB_LocationDataEntities" connectionString="metadata=res://*/LocationEntity.ADBLocationEntity.csdl|res://*/LocationEntity.ADBLocationEntity.ssdl|res://*/LocationEntity.ADBLocationEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.1.44\SQL2016DB4;initial catalog=ADB_ANLS_LocationData;persist security info=True;user id= ADB_ANLS;password=ADB_ANLS;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
-->
    <!--QA  

    <add name="ConnectionName" connectionString="data source=172.16.1.43\SQL2016DB3;initial catalog=ADB_Prod_Framework;persist security info=True;user id=adbQA_prod;password=adbQA_prod;multipleactiveresultsets=True;" providerName="System.Data.EntityClient"/>
    <add name="SysXAppDBEntities" connectionString="metadata=res://*/SysXEntities.csdl|res://*/SysXEntities.ssdl|res://*/SysXEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=172.16.1.43\SQL2016DB3;Initial Catalog=ADB_Prod_Framework;Persist Security Info=True;user id=adbQA_prod;password=adbQA_prod;Connection Timeout=600;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="SysXAppDBCaching" connectionString="data source=172.16.1.43\SQL2016DB3;initial catalog=ADB_Prod_Framework;persist security info=True;user id=startUser;password=startUser;Max Pool Size=5;Pooling=true"/>
    <add name="SysXAppDBSubscriberCaching" connectionString="data source=172.16.1.43\SQL2016DB3;initial catalog=ADB_Prod_Framework;persist security info=True;user id=subscribeUser;password=subscribeUser;Max Pool Size=5;Pooling=true"/>
    <add name="ADBMessageDB_DevEntities" connectionString="metadata=res://*/ADBMessageQueue.csdl|res://*/ADBMessageQueue.ssdl|res://*/ADBMessageQueue.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.1.43\SQL2016DB3;initial catalog=ADB_Prod_Messaging;persist security info=True;user id=adbQA_prod;password=adbQA_prod;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="ADBApplicantMessageDB_DevEntities" connectionString="metadata=res://*/ApplicantMessageQueue.csdl|res://*/ApplicantMessageQueue.ssdl|res://*/ApplicantMessageQueue.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.1.43\SQL2016DB3;initial catalog=ADB_Prod_Messaging;persist security info=True;user id=adbQA_prod;password=adbQA_prod;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="MessagingDBCaching" connectionString="data source=172.16.1.43\SQL2016DB3;initial catalog=ADB_Prod_Messaging;persist security info=True;user id=startUser;password=startUser;Max Pool Size=5;Pooling=true"/>
    <add name="MessagingDBSubscriberCaching" connectionString="data source=172.16.1.43\SQL2016DB3;initial catalog=ADB_Prod_Messaging;persist security info=True;user id=subscribeUser;password=subscribeUser;Max Pool Size=5;Pooling=true"/>
    <add name="ADB_SharedDataEntities" connectionString="metadata=res://*/SharedDataEntity.ADBSharedDataEntity.csdl|res://*/SharedDataEntity.ADBSharedDataEntity.ssdl|res://*/SharedDataEntity.ADBSharedDataEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.1.43\SQL2016DB3;initial catalog=ADB_Prod_SharedData;persist security info=True;user id=adbQA_prod;password=adbQA_prod;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="ADB_LocationDataEntities" connectionString="metadata=res://*/LocationEntity.ADBLocationEntity.csdl|res://*/LocationEntity.ADBLocationEntity.ssdl|res://*/LocationEntity.ADBLocationEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.1.43\SQL2016DB3;initial catalog=ADB_Prod_LocationData;persist security info=True;user id=adbQA_prod;password=adbQA_prod;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
 -->

    <!--Working DEV
    <add name="ConnectionName" connectionString="data source=172.16.1.33\SQL2014DEV;initial catalog=ADB_Prod_Framework;persist security info=True;user id=adb_prod;password=adb_prod;multipleactiveresultsets=True;" providerName="System.Data.EntityClient" />
    <add name="SysXAppDBEntities" connectionString="metadata=res://*/SysXEntities.csdl|res://*/SysXEntities.ssdl|res://*/SysXEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=172.16.1.33\SQL2014DEV;;Initial Catalog=ADB_Prod_Framework;Persist Security Info=True;user id=adb_prod;password=adb_prod;Connection Timeout=600;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ADBMessageDB_DevEntities" connectionString="metadata=res://*/ADBMessageQueue.csdl|res://*/ADBMessageQueue.ssdl|res://*/ADBMessageQueue.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.1.33\SQL2014DEV;initial catalog=ADB_Prod_Messaging;persist security info=True;user id=adb_prod;password=adb_prod;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ADB_SharedDataEntities" connectionString="metadata=res://*/SharedDataEntity.ADBSharedDataEntity.csdl|res://*/SharedDataEntity.ADBSharedDataEntity.ssdl|res://*/SharedDataEntity.ADBSharedDataEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.1.33\SQL2014DEV;initial catalog=ADB_Prod_SharedData;persist security info=True;user id=adb_prod;password=adb_prod;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ADB_LocationDataEntities" connectionString="metadata=res://*/LocationEntity.ADBLocationEntity.csdl|res://*/LocationEntity.ADBLocationEntity.ssdl|res://*/LocationEntity.ADBLocationEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.1.33\SQL2014DEV;initial catalog=ADB_Prod_LocationData;persist security info=True;user id=adb_prod;password=adb_prod;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
-->
    <!--QA server 12  
    <add name="ConnectionName" connectionString="data source=172.16.1.43\SQL2016DB3;initial catalog=ADB_QA_Srvr14_Security;persist security info=True;user id=ADB_QA;password=ADB_QA;multipleactiveresultsets=True;" providerName="System.Data.EntityClient" />
    <add name="SysXAppDBEntities" connectionString="metadata=res://*/SysXEntities.csdl|res://*/SysXEntities.ssdl|res://*/SysXEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=172.16.1.43\SQL2016DB3;Initial Catalog=ADB_QA_Srvr14_Security;Persist Security Info=True;user id=ADB_QA;password=ADB_QA;Connection Timeout=600;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ADBMessageDB_DevEntities" connectionString="metadata=res://*/ADBMessageQueue.csdl|res://*/ADBMessageQueue.ssdl|res://*/ADBMessageQueue.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.1.43\SQL2016DB3;initial catalog=ADB_QA_Srvr14_Messaging;persist security info=True;user id=ADB_QA;password=ADB_QA;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ADB_SharedDataEntities" connectionString="metadata=res://*/SharedDataEntity.ADBSharedDataEntity.csdl|res://*/SharedDataEntity.ADBSharedDataEntity.ssdl|res://*/SharedDataEntity.ADBSharedDataEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.1.43\SQL2016DB3;initial catalog=ADB_QA_Srvr14_SharedData;persist security info=True;user id=ADB_QA;password=ADB_QA;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
 -->
    <!--PRODUCTION
  <add name="ConnectionName" connectionString="data source=172.16.1.33\SQL2014DEV;initial catalog=ADB_Prod_Framework;persist security info=True;user id=adb_prod;password=adb_prod;multipleactiveresultsets=True;"      providerName="System.Data.EntityClient" />
  <add name="SysXAppDBEntities" connectionString="metadata=res://*/SysXEntities.csdl|res://*/SysXEntities.ssdl|res://*/SysXEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=172.16.1.33\SQL2014DEV;;Initial Catalog=ADB_Prod_Framework;Persist Security Info=True;user id=adb_prod;password=adb_prod;Connection Timeout=600;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;"      providerName="System.Data.EntityClient" />
  <add name="SysXAppDBCaching" connectionString="data source=172.16.1.33\SQL2014DEV;;initial catalog=ADB_Prod_Framework;persist security info=True;user id=startUser;password=startUser;Max Pool Size=5;Pooling=true" />
  <add name="SysXAppDBSubscriberCaching" connectionString="data source=172.16.1.33\SQL2014DEV;;initial catalog=ADB_Prod_Framework;persist security info=True;user id=subscribeUser;password=subscribeUser;Max Pool Size=5;Pooling=true" />
  <add name="MessagingDBCaching" connectionString="data source=172.16.1.33\SQL2014DEV;;initial catalog=ADB_Prod_Messaging;persist security info=True;user id=startUser;password=startUser;Max Pool Size=5;Pooling=true" />
  <add name="MessagingDBSubscriberCaching" connectionString="data source=172.16.1.33\SQL2014DEV;;initial catalog=ADB_Prod_Messaging;persist security info=True;user id=subscribeUser;password=subscribeUser;Max Pool Size=5;Pooling=true" />
  <add name="ADBMessageDB_DevEntities" connectionString="metadata=res://*/ADBMessageQueue.csdl|res://*/ADBMessageQueue.ssdl|res://*/ADBMessageQueue.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.1.33\SQL2014DEV;;initial catalog=ADB_Prod_Messaging;persist security info=True;user id=adb_prod;password=adb_prod;multipleactiveresultsets=True;App=EntityFramework&quot;"      providerName="System.Data.EntityClient" />
  <add name="ADBApplicantMessageDB_DevEntities" connectionString="metadata=res://*/ApplicantMessageQueue.csdl|res://*/ApplicantMessageQueue.ssdl|res://*/ApplicantMessageQueue.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.1.33\SQL2014DEV;;initial catalog=ADB_Prod_Messaging;persist security info=True;user id=adb_prod;password=adb_prod;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="ADB_SharedDataEntities" connectionString="metadata=res://*/SharedDataEntity.ADBSharedDataEntity.csdl|res://*/SharedDataEntity.ADBSharedDataEntity.ssdl|res://*/SharedDataEntity.ADBSharedDataEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.1.33\SQL2014DEV;;initial catalog=ADB_Prod_SharedData;persist security info=True;user id=adb_prod;password=adb_prod;MultipleActiveResultSets=True;App=EntityFramework&quot;"      providerName="System.Data.EntityClient" />
  <add name="ADB_Security_Rotation_PackageConnectionString" connectionString="Data Source=172.16.1.33\SQL2014DEV;Initial Catalog=ADB_Prod_Framework;Persist Security Info=True;User ID=adb_prod;Password=adb_prod"    providerName="System.Data.SqlClient" />
  <add name="ADB_LocationDataEntities" connectionString="metadata=res://*/LocationEntity.ADBLocationEntity.csdl|res://*/LocationEntity.ADBLocationEntity.ssdl|res://*/LocationEntity.ADBLocationEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.1.33\SQL2014DEV;initial catalog=ADB_Prod_LocationData;persist security info=True;user id=adb_prod;password=adb_prod;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
-->
    <!--  for server 14 QA DBs 

    <add name="ConnectionName" connectionString="data source=172.16.1.43\SQL2016DB3;initial catalog=ADB_QA_Srvr14_Security;persist security info=True;user id=ADB_QA;password=ADB_QA;multipleactiveresultsets=True;" providerName="System.Data.EntityClient" />
    <add name="SysXAppDBEntities" connectionString="metadata=res://*/SysXEntities.csdl|res://*/SysXEntities.ssdl|res://*/SysXEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=172.16.1.43\SQL2016DB3;Initial Catalog=ADB_QA_Srvr14_Security;Persist Security Info=True;user id=ADB_QA;password=ADB_QA;Connection Timeout=600;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SysXAppDBCaching" connectionString="data source=172.16.1.43\SQL2016DB3;initial catalog=ADB_QA_Srvr14_Security;persist security info=True;user id=startUser;password=startUser;Max Pool Size=5;Pooling=true" />
    <add name="SysXAppDBSubscriberCaching" connectionString="data source=172.16.1.43\SQL2016DB3;initial catalog=ADB_QA_Srvr14_Security;persist security info=True;user id=subscribeUser;password=subscribeUser;Max Pool Size=5;Pooling=true" />
    <add name="ADBMessageDB_DevEntities" connectionString="metadata=res://*/ADBMessageQueue.csdl|res://*/ADBMessageQueue.ssdl|res://*/ADBMessageQueue.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.1.43\SQL2016DB3;initial catalog=ADB_QA_Srvr14_Messaging;persist security info=True;user id=ADB_QA;password=ADB_QA;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ADBApplicantMessageDB_DevEntities" connectionString="metadata=res://*/ApplicantMessageQueue.csdl|res://*/ApplicantMessageQueue.ssdl|res://*/ApplicantMessageQueue.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.1.43\SQL2016DB3;initial catalog=ADB_QA_Srvr14_Messaging;persist security info=True;user id=ADB_QA;password=ADB_QA;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MessagingDBCaching" connectionString="data source=172.16.1.43\SQL2016DB3;initial catalog=ADB_QA_Srvr14_Messaging;persist security info=True;user id=startUser;password=startUser;Max Pool Size=5;Pooling=true" />
    <add name="MessagingDBSubscriberCaching" connectionString="data source=172.16.1.43\SQL2016DB3;initial catalog=ADB_QA_Srvr14_Messaging;persist security info=True;user id=subscribeUser;password=subscribeUser;Max Pool Size=5;Pooling=true" />
    <add name="ADB_SharedDataEntities" connectionString="metadata=res://*/SharedDataEntity.ADBSharedDataEntity.csdl|res://*/SharedDataEntity.ADBSharedDataEntity.ssdl|res://*/SharedDataEntity.ADBSharedDataEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.1.43\SQL2016DB3;initial catalog=ADB_QA_Srvr14_SharedData;persist security info=True;user id=ADB_QA;password=ADB_QA;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
-->
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>