<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="securityDBConnection" connectionString="Data Source=172.16.1.14\SQL2012STD; User ID=adb_adb20;Password=adb_adb20;Initial Catalog=ADB_Dev_Security_04042016;" />
	<add name="ConnectionName" connectionString="data source=172.16.1.14\SQL2012STD;initial catalog=ADB_Dev_Security_04042016;persist security info=True;user id=adb_adb20;password=adb_adb20;multipleactiveresultsets=True;" providerName="System.Data.EntityClient" />
	<add name="SysXAppDBEntities" connectionString="metadata=res://*/SysXEntities.csdl|res://*/SysXEntities.ssdl|res://*/SysXEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=172.16.1.14\SQL2012STD;Initial Catalog=ADB_Dev_Security_04042016;Persist Security Info=True;user id=adb_adb20;password=adb_adb20;Connection Timeout=600;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	<add name="ADBMessageDB_DevEntities" connectionString="metadata=res://*/ADBMessageQueue.csdl|res://*/ADBMessageQueue.ssdl|res://*/ADBMessageQueue.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.1.14\SQL2012STD;initial catalog=ADB_Dev_Messaging_04042016;persist security info=True;user id=adb_adb20;password=adb_adb20;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	<add name="ADB_SharedDataEntities" connectionString="metadata=res://*/SharedDataEntity.ADBSharedDataEntity.csdl|res://*/SharedDataEntity.ADBSharedDataEntity.ssdl|res://*/SharedDataEntity.ADBSharedDataEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.1.14\SQL2012STD;initial catalog=ADB_Dev_SharedData_04042016;persist security info=True;user id=adb_adb20;password=adb_adb20;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
    <membership defaultProvider="SysXMembershipProvider" userIsOnlineTimeWindow="15">
      <providers>
        <add name="SysXMembershipProvider" type="CoreWeb.IntsofSecurityModel.Providers.SysXMembershipProvider, CoreWeb.IntsofSecurityModel, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" applicationName="ADB" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="true" requiresUniqueEmail="true" passwordFormat="Hashed" />
      </providers>
    </membership>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="INTSOF.Complio.API.ComplioAPI" behaviorConfiguration="ComplioAPIServiceBehavior">
        <endpoint address=""  bindingConfiguration="secureHttpBinding"    binding="webHttpBinding" contract="INTSOF.Complio.API.Core.IComplioAPI"
                  behaviorConfiguration="ComplioAPIEndPointBehavior"></endpoint>
        <host>
        </host>
      </service>
    </services>
    <bindings>
      <webHttpBinding>
        <binding name="secureHttpBinding">
          <security mode="Transport">
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ComplioAPIServiceBehavior">
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceAuthorization serviceAuthorizationManagerType="INTSOF.Complio.API.Core.ComplioAPIAuthorization, INTSOF.Complio.API">
          </serviceAuthorization>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="ComplioAPIEndPointBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="webHttpBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <standardEndpoints>
      <webScriptEndpoint>
        <standardEndpoint name="" crossDomainScriptAccessEnabled="true"></standardEndpoint>
      </webScriptEndpoint>
    </standardEndpoints>
  </system.serviceModel>
  <system.webServer>
    <httpProtocol>
    </httpProtocol>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
    <defaultDocument>
      <files>
        <add value="ComplioAPI.svc" />
      </files>
    </defaultDocument>


  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>
