<div id="bodyBlock" class="container-fluid">
  <section class="p-2">
    <div class="row">

      <div class="col-md-12 bg-white shadow-sm rounded py-3">
        <div class="col-12 text-center mb-2 mt-3">
          <img src="images/imgLogo.png" alt="Complio" />
        </div>
        <div class="col-12 text-center ">
          <span style="color: #8C1921;">
            <h4 ID="CHGEPASSWRD"></h4>
            <hr style="background-color: #8C1921">
          </span>

        </div>
        <div class="row col-md-12">
          <p>
            <span id="PSWDCONDITION"></span>
            <span style="color: red;"> * </span>
            <span id="REQUIREDMARK"></span>
          </p>
        </div>
        <form [formGroup]="changePasswordForm">

          <div class="row">
            <div [hidden]="hidePasswordExpiryMsg" class="validationColor col-md-12 ">{{passwordExpiryMsg}}</div>
            <div class="validationColor col-md-12 ">{{errorMsg}}</div>
            <div *ngIf="IsEditProfile" class="col-md-8 mb-2 col-sm-12">
              <label id="OLDPASWRD" class="mb-0 required"></label>
              <input type="password" formControlName="oldpassword" maxlength="15" [ngClass]="displayFieldCss('oldpassword')" class="form-control">
              <app-field-error-display [displayError]="isError('oldpassword')" errorMsg="{{errorMessage('oldpassword')}}">
              </app-field-error-display>
            </div>
            <div class="col-md-8 mb-2 col-sm-12">
              <label id="NWPASWD" class="mb-0 required"></label>
              <input type="password" formControlName="password" maxlength="15" [ngClass]="displayFieldCss('password')" class="form-control">
              <app-field-error-display [displayError]="isError('password')" errorMsg="{{errorMessage('password')}}">
              </app-field-error-display>
            </div>
            <div class="col-md-8 mb-2 col-sm-12">
              <label id="CNFMPASSWORD" class="mb-0 required"></label>

              <input type="password" class="form-control" maxlength="15" [ngClass]="displayFieldCss('confirmPassword')" formControlName="confirmPassword">
              <app-field-error-display [displayError]="isError('confirmPassword')" errorMsg="{{errorMessage('confirmPassword')}}">
              </app-field-error-display>
              <div class="errorColor" [hidden]="IsPasswordMatch">
                <label id="PWDDIDNOTMATCH"></label>
              </div>
            </div>
          </div>
          <div class="row py-5">
            <div class="col-md-12 d-flex justify-content-center">
              <button type="button" autofocus="false" (click)="OnSubmit()" class="btn btn-primary fixedWidthBtn">
                <i class="fa fa-paper-plane"></i>


                <label id="SUBMIT" class="label-on-button "></label>
              </button>
              <button type="button" (click)="onCancelClick()" class="btn btn-primary fixedWidthBtn mx-1">
                <i class="fas fa-times pr-1"></i>
                <label id="CNCL" class="label-on-button "></label>



              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
</div>