
html{width: auto!important;height:auto !important;overflow: auto !important;}
body{background-color:#EFEFEF;}

.popupContent {
    font-size:11px;
    width: 100%;
    -webkit-box-sizing: border-box;-moz-box-sizing: border-box; box-sizing: border-box;
    padding: 10px;
}

h1{font-size: 140%; margin: 0 0 15px 0;border-bottom-width:1px;}
.section {min-width: 500px;margin:0 0 10px 0  !important; padding:0 !important;border:none;background:none;font-size:11px;}
.section .mhdr{font-size:105% !important;padding:0 0 4px;border: none;cursor: auto;}
.section .shdr{border: none;}
.section .content{margin:0;overflow: visible !important;}
.section .content .sxform{padding-top:2px;}
.sxcbar{ background-color: white;padding: 5px;border-width: 1px;}
.RadGrid .rgPagerLabel {float:left;}