<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Business.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="ExternalVendors.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="SleepTime" value="50000" />
    <!--Create Vendor Order Timer Settings-->
    <!--If CreateOrderInterval, UpdateOrderInterval = -1, then Timer will not be Initialized-->
    <add key="CreateOrderInterval" value="10000" />
    <add key="CreateOrderFromHour" value="00" />
    <add key="CreateOrderFromMinute" value="00" />
    <add key="CreateOrderToHour" value="24" />
    <add key="CreateOrderToMinute" value="00" />
    <add key="Clear Star" value="ClearStar" />
    <add key="TestModeOn" value="True" />

    <!--Create Vendor Order Records Settings-->
    <!--Fetch order records based on chunk size-->
    <add key="RecordChunkSize" value="200" />
    <!--This key will allow service to fetch only those records which have not been retried these many times-->
    <add key="MaxRetryCount" value="2" />
    <!--This key will allow service to fetch only those records which have not been retried before these many minutes-->
    <add key="RetryTimeLag" value="60" />
    <add key="IsNotificationRequestOn" value="false"/>

    <!--Update Bkg Order Timer Settings-->
    <add key="UpdateOrderInterval" value="10000" />
    <add key="UpdateOrderFromHour" value="00" />
    <add key="UpdateOrderFromMinute" value="00" />
    <add key="UpdateOrderToHour" value="24" />
    <add key="UpdateOrderToMinute" value="00" />

    <!--Update Order Service Keys-->
    <add key="UpdateAllInProcessOrders" value="true"/>
    <add key="UpdateAllInProcessOrdersOnOrAfter" value="4"/>
    <add key="UpdateEXInProcessOrders" value="false"/>
    <add key="UpdateAMSInProcessOrders" value="true"/>
    <add key="StartingOrderID" value="0" />
    <add key="EndingOrderID" value="0" />
    <add key="UpdateOrderRecentDays" value="10" />
    <!--This key will allow Update Order service to fetch only those records which have not been retried/updated before these many minutes-->
    <add key="UpdateOrderRetryTimeLag" value="60" />

    <!--Update Bkg Order Notification Timer Settings-->
    <add key="OrderNotificationInterval" value="10000" />
    <add key="OrderNotificationFromHour" value="00" />
    <add key="OrderNotificationFromMinute" value="00" />
    <add key="OrderNotificationToHour" value="24" />
    <add key="OrderNotificationToMinute" value="00" />

    <!--SMTP Configuration Setting-->
    <add key="host" value="smtp.emailsrvr.com" />
    <add key="port" value="25" />
    <add key="userName" value="yqvW3brwZ6Lwusib6wa9Zb9wQS2cE2rkTUkPkbmqln6+4tNEEkpwhy72/qvyw1tT" />
    <add key="password" value="DGCYEK30TqtXPNv2zeo0kXBng32ZY8mfPV8giF5Y4sg=" />
    <add key="enableSsl" value="true" />
    <add key="SenderName" value="ADB" />
    <add key="SenderEmailId" value="info.apps@intsof.com" />
	<!--Mail Keys-->
	<add key="mailSenderName" value="ADB support team" />
	<add key="IsSmtpDataEncypted" value="true" />
	<add key="IsSMTPSectionDefined" value="false" />

    <add key="ClearStarLoginID" value="adb_test" />
    <add key="ClearStarPassword" value="#StarGate09" />
    <add key="BusinessOwnerID" value="59" />
    <add key="ADBTestAccountForAMS" value="AMER_02772"/>
    <add key="UseADBTestAccountForAMS" value="true"/>
    
    <add key="ClearStarCCFUserName" value="ljankowski" />
    <add key="ClearStarCCFPassword" value="AMERStage#1!" />

    <!--Amazon Web Services(AWS) S3 -->
    <add key="AWSDirPathInBucket" value="Offshore/Server14/QADocuments" />
    <add key="AWSUseS3" value="false" />
    <add key="AWSAccessKey" value="AKIAJQ37FUXSMKSRXWJQ" />
    <add key="AWSSecretKey" value="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" />
    <add key="AWSBucket" value="complio.uatdocs.adb" />
    <add key="AWSRegion" value="s3-us-west-2.amazonaws.com" />

    <!-- File Locations & Upload Path -->
    <add key="ApplicantFileLocation" value="C:\ApplicantFileAttachments\" />
    <add key="TemporaryFileLocation" value="C:\TemporaryFileLocation\" />

    <!--SSRS Server Details-->
    <add key="ReportViewerUser" value="adb" />
    <add key="ReportViewerPassword" value="Pass@123$" />
    <add key="ReportViewerDomain" value="vserv-it" />
    <add key="ReportPath" value="ADBReports_Dev"/>
    <add key="American Databank" value="AmericanDatabank" />

    <add key="ExecuteBuisnessRule" value="true" />

    <!-- Create JIRA Ticket Service Keys-->

    <add key="JiraTicketServiceInterval" value="10000" />
    <add key="JiraTicketServiceFromHour" value="00" />
    <add key="JiraTicketServiceFromMinute" value="00" />
    <add key="JiraTicketServiceToHour" value="24" />
    <add key="JiraTicketServiceToMinute" value="00" />

    <!--CreateJiraTicketTimeLag, key will be used to determine the time (in HOURS), after define hrs system will create jira ticket for bkg order
    DEFAULT System Value= 12 hours
    -->
    <add key="CreateJiraTicketTimeLag" value="4" />
    <!--RetryCountTimeLag, key will be used to get those Service Line Items for which Create Bkg Order Service not tried uploading Items on CS due to some issue, 
    After this time lag JIRACreateServcie will create a JIRA ticket with error message.  
    DEFAULT System Value= 24 hours
    -->
    <add key="RetryCountTimeLag" value="8" />
    <add key="JiraProjectName" value="ADBHELP"/>
    <add key="JiraIssueType" value="Technical Incident"/>
    <add key="JiraIssuePriority" value="Major"/>
    <add key="JiraURL" value="https://americandb.atlassian.net"/>
    <add key="JiraUserName" value="bhupender"/>
    <add key="JiraPassword" value=""/>
    <add key="JiraReporter" value="bhupender"/>
    <add key="JiraMaxRetryCount" value="5"/>

    <!--This key will allow service logging to be enabled or disabled, value would be true or false-->
    <add key="IsServiceLoggingEnabled" value="true" />
    <add key="Print Scan" value="PrintScan" />
    <add key="PrintScanServiceURL" value="https://www.printscan.com/api/nyu"/>
    <add key="PrintScanAuthenticateURL" value="http://www.printscan.com/authenticate" />
    <add key="PrintScanHostURL"  value="www.printscan.com"></add>
    <add key="PrintScanUserName" value="rajeev.jha@intsof.com"/>
    <add key="PrintScanPassword" value="Rajeev@1234"/>
    
    
    <!--Crteate Repeated bulk order-->
     <add key="CreateRepeatedBulkOrderServiceInterval" value="10000" />
    <add key="CreateRepeatedBulkOrderServiceFromHour" value="00" />
    <add key="CreateRepeatedBulkOrderServiceFromMinute" value="00" />
    <add key="CreateRepeatedBulkOrderServiceToHour" value="24" />
    <add key="CreateRepeatedBulkOrderServiceToMinute" value="00" />
    <add key="CreateRepeatedBulkOrderServiceChunkSize" value="10" />

    <!--Location Of SummaryOfRight Document-->
    <add key="SummaryOfRightPdfLocation" value="Summary of Rights.pdf"/>

    <!--Key used to show text in applicant's 'Middle Name' if applicant don't have middle name-->
    <add key="NoMiddleNameText" value="-----" />

    <!--key used to dismiss suffixes on names in suppliments UAT-2372-->
    <add key="IgnoreSuffixesNamesInSupplements" value="Jr.,Jr,Sr.,Sr,II,III,IV,V"/>
    <!--This key used to identify the TLS 1.2-->
    <add key="UseClearstarTls_1_2" value="true" />

	<!--Entity Command Timeout Setting Override-->
	<add key="EntityCommandTimeoutSetting" value="60" />

  <!-- UAT-4710 :For Notification mail of Fingerprinting Exceeded TAT Report -->
  <add key="NotificationForFingerprintingExceededTATFromHour" value="08" />
  <add key="NotificationForFingerprintingExceededTATFromMinute" value="00" />
  <add key="NotificationForFingerprintingExceededTATToHour" value="08" />
  <add key="NotificationForFingerprintingExceededTATToMinute" value="30" />
  <add key="NotificationForFingerprintingExceededTATInterval" value="86400000" />
    
  </appSettings>
  <connectionStrings>
	  <!--QA Connection String
    <add name="ConnectionName" connectionString="data source=172.16.1.14\SQL2014DEV;initial catalog=ADB_QA_Security;persist security info=True;user id=ADB_QA;password=ADB_QA;multipleactiveresultsets=True;" providerName="System.Data.EntityClient" />
    <add name="SysXAppDBEntities" connectionString="metadata=res://*/SysXEntities.csdl|res://*/SysXEntities.ssdl|res://*/SysXEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=172.16.1.14\SQL2014DEV;Initial Catalog=ADB_QA_Security;Persist Security Info=True;user id=ADB_QA;password=ADB_QA;Connection Timeout=600;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SysXAppDBCaching" connectionString="data source=172.16.1.14\SQL2014DEV;initial catalog=ADB_QA_Security;persist security info=True;user id=startUser;password=startUser;Max Pool Size=5;Pooling=true" />
    <add name="SysXAppDBSubscriberCaching" connectionString="data source=172.16.1.14\SQL2014DEV;initial catalog=ADB_QA_Security;persist security info=True;user id=subscribeUser;password=subscribeUser;Max Pool Size=5;Pooling=true" />
    <add name="MessagingDBCaching" connectionString="data source=172.16.1.14\SQL2014DEV;initial catalog=ADB_QA_Messaging;persist security info=True;user id=startUser;password=startUser;Max Pool Size=5;Pooling=true" />
    <add name="MessagingDBSubscriberCaching" connectionString="data source=172.16.1.14\SQL2014DEV;initial catalog=ADB_QA_Messaging;persist security info=True;user id=subscribeUser;password=subscribeUser;Max Pool Size=5;Pooling=true" />
    <add name="ADBMessageDB_DevEntities" connectionString="metadata=res://*/ADBMessageQueue.csdl|res://*/ADBMessageQueue.ssdl|res://*/ADBMessageQueue.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.1.14\SQL2014DEV;initial catalog=ADB_QA_Messaging;persist security info=True;user id=ADB_QA;password=ADB_QA;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ADBApplicantMessageDB_DevEntities" connectionString="metadata=res://*/ApplicantMessageQueue.csdl|res://*/ApplicantMessageQueue.ssdl|res://*/ApplicantMessageQueue.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.1.14\SQL2014DEV;initial catalog=ADB_QA_Messaging;persist security info=True;user id=ADB_QA;password=ADB_QA;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ADB_SharedDataEntities" connectionString="metadata=res://*/SharedDataEntity.ADBSharedDataEntity.csdl|res://*/SharedDataEntity.ADBSharedDataEntity.ssdl|res://*/SharedDataEntity.ADBSharedDataEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.1.14\SQL2014DEV;initial catalog=ADB_Dev_SharedData;persist security info=True;user id=adb_adb20;password=adb_adb20;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
-->
    <!--<add name="ConnectionName" connectionString="data source=172.16.1.33\SQL2014DEV;initial catalog=ADB_Security_Rotation_Package;persist security info=True;user id=adb_adb20;password=adb_adb20;multipleactiveresultsets=True;" providerName="System.Data.EntityClient" />
    <add name="SysXAppDBEntities" connectionString="metadata=res://*/SysXEntities.csdl|res://*/SysXEntities.ssdl|res://*/SysXEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=172.16.1.33\SQL2014DEV;;Initial Catalog=ADB_Security_Rotation_Package;Persist Security Info=True;user id=adb_adb20;password=adb_adb20;Connection Timeout=600;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SysXAppDBCaching" connectionString="data source=172.16.1.33\SQL2014DEV;;initial catalog=ADB_Security_Rotation_Package;persist security info=True;user id=startUser;password=startUser;Max Pool Size=5;Pooling=true" />
    <add name="SysXAppDBSubscriberCaching" connectionString="data source=172.16.1.33\SQL2014DEV;;initial catalog=ADB_Security_Rotation_Package;persist security info=True;user id=subscribeUser;password=subscribeUser;Max Pool Size=5;Pooling=true" />
    <add name="MessagingDBCaching" connectionString="data source=172.16.1.33\SQL2014DEV;;initial catalog=ADB_Messaging_Rotation_Package;persist security info=True;user id=startUser;password=startUser;Max Pool Size=5;Pooling=true" />
    <add name="MessagingDBSubscriberCaching" connectionString="data source=172.16.1.33\SQL2014DEV;;initial catalog=ADB_Messaging_Rotation_Package;persist security info=True;user id=subscribeUser;password=subscribeUser;Max Pool Size=5;Pooling=true" />
    <add name="ADBMessageDB_DevEntities" connectionString="metadata=res://*/ADBMessageQueue.csdl|res://*/ADBMessageQueue.ssdl|res://*/ADBMessageQueue.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.1.33\SQL2014DEV;;initial catalog=ADB_Messaging_Rotation_Package;persist security info=True;user id=adb_adb20;password=adb_adb20;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ADBApplicantMessageDB_DevEntities" connectionString="metadata=res://*/ApplicantMessageQueue.csdl|res://*/ApplicantMessageQueue.ssdl|res://*/ApplicantMessageQueue.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.1.33\SQL2014DEV;;initial catalog=ADB_Messaging_Rotation_Package;persist security info=True;user id=adb_adb20;password=adb_adb20;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ADB_SharedDataEntities" connectionString="metadata=res://*/SharedDataEntity.ADBSharedDataEntity.csdl|res://*/SharedDataEntity.ADBSharedDataEntity.ssdl|res://*/SharedDataEntity.ADBSharedDataEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.1.33\SQL2014DEV;;initial catalog=ADB_SharedData_Rotation_Package;persist security info=True;user id=adb_adb20;password=adb_adb20;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
   
    <!--<add name="ConnectionName" connectionString="data source=172.16.1.33\SQL2014DEV;initial catalog=ADB_Prod_Framework;persist security info=True;user id=adb_prod;password=adb_prod;multipleactiveresultsets=True;" providerName="System.Data.EntityClient" />
    <add name="SysXAppDBEntities" connectionString="metadata=res://*/SysXEntities.csdl|res://*/SysXEntities.ssdl|res://*/SysXEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=172.16.1.33\SQL2014DEV;Initial Catalog=ADB_Prod_Framework;Persist Security Info=True;user id=adb_prod;password=adb_prod;Connection Timeout=600;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SysXAppDBCaching" connectionString="data source=172.16.1.33\SQL2014DEV;initial catalog=ADB_Prod_Framework;persist security info=True;user id=startUser;password=startUser;Max Pool Size=5;Pooling=true" />
    <add name="SysXAppDBSubscriberCaching" connectionString="data source=172.16.1.33\SQL2014DEV;initial catalog=ADB_Prod_Framework;persist security info=True;user id=subscribeUser;password=subscribeUser;Max Pool Size=5;Pooling=true" />
    <add name="MessagingDBCaching" connectionString="data source=172.16.1.33\SQL2014DEV;initial catalog=ADB_Prod_Messaging;persist security info=True;user id=startUser;password=startUser;Max Pool Size=5;Pooling=true" />
    <add name="MessagingDBSubscriberCaching" connectionString="data source=172.16.1.33\SQL2014DEV;initial catalog=ADB_Prod_Messaging;persist security info=True;user id=subscribeUser;password=subscribeUser;Max Pool Size=5;Pooling=true" />
    <add name="ADBMessageDB_DevEntities" connectionString="metadata=res://*/ADBMessageQueue.csdl|res://*/ADBMessageQueue.ssdl|res://*/ADBMessageQueue.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.1.33\SQL2014DEV;initial catalog=ADB_Prod_Messaging;persist security info=True;user id=adb_prod;password=adb_prod;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ADBApplicantMessageDB_DevEntities" connectionString="metadata=res://*/ApplicantMessageQueue.csdl|res://*/ApplicantMessageQueue.ssdl|res://*/ApplicantMessageQueue.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.1.33\SQL2014DEV;initial catalog=ADB_Prod_Messaging;persist security info=True;user id=adb_prod;password=adb_prod;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ADB_SharedDataEntities" connectionString="metadata=res://*/SharedDataEntity.ADBSharedDataEntity.csdl|res://*/SharedDataEntity.ADBSharedDataEntity.ssdl|res://*/SharedDataEntity.ADBSharedDataEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.1.33\SQL2014DEV;initial catalog=ADB_Prod_SharedData;persist security info=True;user id=adb_adb20;password=adb_adb20;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

    <!--Dev  Rotation Package
    <add name="ConnectionName" connectionString="data source=172.16.1.33\SQL2014DEV;initial catalog=ADB_Security_Rotation_Package;persist security info=True;user id=adb_adb20;password=adb_adb20;multipleactiveresultsets=True;" providerName="System.Data.EntityClient" />
    <add name="SysXAppDBEntities" connectionString="metadata=res://*/SysXEntities.csdl|res://*/SysXEntities.ssdl|res://*/SysXEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=172.16.1.33\SQL2014DEV;;Initial Catalog=ADB_Security_Rotation_Package;Persist Security Info=True;user id=adb_adb20;password=adb_adb20;Connection Timeout=600;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SysXAppDBCaching" connectionString="data source=172.16.1.33\SQL2014DEV;;initial catalog=ADB_Security_Rotation_Package;persist security info=True;user id=startUser;password=startUser;Max Pool Size=5;Pooling=true" />
    <add name="SysXAppDBSubscriberCaching" connectionString="data source=172.16.1.33\SQL2014DEV;;initial catalog=ADB_Security_Rotation_Package;persist security info=True;user id=subscribeUser;password=subscribeUser;Max Pool Size=5;Pooling=true" />
    <add name="MessagingDBCaching" connectionString="data source=172.16.1.33\SQL2014DEV;;initial catalog=ADB_Messaging_Rotation_Package;persist security info=True;user id=startUser;password=startUser;Max Pool Size=5;Pooling=true" />
    <add name="MessagingDBSubscriberCaching" connectionString="data source=172.16.1.33\SQL2014DEV;;initial catalog=ADB_Messaging_Rotation_Package;persist security info=True;user id=subscribeUser;password=subscribeUser;Max Pool Size=5;Pooling=true" />
    <add name="ADBMessageDB_DevEntities" connectionString="metadata=res://*/ADBMessageQueue.csdl|res://*/ADBMessageQueue.ssdl|res://*/ADBMessageQueue.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.1.33\SQL2014DEV;;initial catalog=ADB_Messaging_Rotation_Package;persist security info=True;user id=adb_adb20;password=adb_adb20;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ADBApplicantMessageDB_DevEntities" connectionString="metadata=res://*/ApplicantMessageQueue.csdl|res://*/ApplicantMessageQueue.ssdl|res://*/ApplicantMessageQueue.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.1.33\SQL2014DEV;;initial catalog=ADB_Messaging_Rotation_Package;persist security info=True;user id=adb_adb20;password=adb_adb20;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ADB_SharedDataEntities" connectionString="metadata=res://*/SharedDataEntity.ADBSharedDataEntity.csdl|res://*/SharedDataEntity.ADBSharedDataEntity.ssdl|res://*/SharedDataEntity.ADBSharedDataEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.1.33\SQL2014DEV;;initial catalog=ADB_SharedData_Rotation_Package;persist security info=True;user id=adb_adb20;password=adb_adb20;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  -->
    <!--Dev  Rotation Package    -->
    <add name="ConnectionName" connectionString="data source=172.16.1.33\SQL2014DEV;initial catalog=ADB_Prod_Framework;persist security info=True;user id=adb_prod;password=adb_prod;multipleactiveresultsets=True;"      providerName="System.Data.EntityClient" />
    <add name="SysXAppDBEntities" connectionString="metadata=res://*/SysXEntities.csdl|res://*/SysXEntities.ssdl|res://*/SysXEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=172.16.1.33\SQL2014DEV;;Initial Catalog=ADB_Prod_Framework;Persist Security Info=True;user id=adb_prod;password=adb_prod;Connection Timeout=600;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;"      providerName="System.Data.EntityClient" />
    <add name="SysXAppDBCaching" connectionString="data source=172.16.1.33\SQL2014DEV;;initial catalog=ADB_Prod_Framework;persist security info=True;user id=startUser;password=startUser;Max Pool Size=5;Pooling=true" />
    <add name="SysXAppDBSubscriberCaching" connectionString="data source=172.16.1.33\SQL2014DEV;;initial catalog=ADB_Prod_Framework;persist security info=True;user id=subscribeUser;password=subscribeUser;Max Pool Size=5;Pooling=true" />
    <add name="MessagingDBCaching" connectionString="data source=172.16.1.33\SQL2014DEV;;initial catalog=ADB_Prod_Messaging;persist security info=True;user id=startUser;password=startUser;Max Pool Size=5;Pooling=true" />
    <add name="MessagingDBSubscriberCaching" connectionString="data source=172.16.1.33\SQL2014DEV;;initial catalog=ADB_Prod_Messaging;persist security info=True;user id=subscribeUser;password=subscribeUser;Max Pool Size=5;Pooling=true" />
    <add name="ADBMessageDB_DevEntities" connectionString="metadata=res://*/ADBMessageQueue.csdl|res://*/ADBMessageQueue.ssdl|res://*/ADBMessageQueue.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.1.33\SQL2014DEV;;initial catalog=ADB_Prod_Messaging;persist security info=True;user id=adb_prod;password=adb_prod;multipleactiveresultsets=True;App=EntityFramework&quot;"      providerName="System.Data.EntityClient" />
    <add name="ADBApplicantMessageDB_DevEntities" connectionString="metadata=res://*/ApplicantMessageQueue.csdl|res://*/ApplicantMessageQueue.ssdl|res://*/ApplicantMessageQueue.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.1.33\SQL2014DEV;;initial catalog=ADB_Prod_Messaging;persist security info=True;user id=adb_prod;password=adb_prod;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ADB_SharedDataEntities" connectionString="metadata=res://*/SharedDataEntity.ADBSharedDataEntity.csdl|res://*/SharedDataEntity.ADBSharedDataEntity.ssdl|res://*/SharedDataEntity.ADBSharedDataEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.1.33\SQL2014DEV;;initial catalog=ADB_Prod_SharedData;persist security info=True;user id=adb_prod;password=adb_prod;MultipleActiveResultSets=True;App=EntityFramework&quot;"      providerName="System.Data.EntityClient" />
    <add name="ADB_Security_Rotation_PackageConnectionString" connectionString="Data Source=172.16.1.33\SQL2014DEV;Initial Catalog=ADB_Prod_Framework;Persist Security Info=True;User ID=adb_prod;Password=adb_prod" providerName="System.Data.SqlClient" />
    <add name="ADB_LocationDataEntities" connectionString="metadata=res://*/LocationEntity.ADBLocationEntity.csdl|res://*/LocationEntity.ADBLocationEntity.ssdl|res://*/LocationEntity.ADBLocationEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.1.33\SQL2014DEV;initial catalog=ADB_Prod_LocationData;persist security info=True;user id=adb_prod;password=adb_prod;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <unity>
    <alias alias="IVendorServiceAdapter" type="ExternalVendors.Interface.IVendorServiceAdapter, ExternalVendors" />
    <alias alias="IMessageQueue" type="INTSOF.UnityHelper.Interfaces.IMessageQueue, INTSOF.UnityHelper" />
    <containers>
      <container>
        <register type="IVendorServiceAdapter" name="ClearStar" mapTo="ExternalVendors.ClearStarVendor.ClearStarAdapter, ExternalVendors" />
        <register type="IMessageQueue" name="MessageQueue" mapTo="DAL.Repository.MessageRepository, DAL" />
        <register type="IVendorServiceAdapter" name="AmericanDatabank" mapTo="ExternalVendors.ADBVendor.ADBAdapter, ExternalVendors" />
        <register type="IVendorServiceAdapter" name="PrintScan" mapTo="ExternalVendors.PrintScanVendor.PrintScanAdapter, ExternalVendors" />
      </container>
    </containers>
  </unity>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.414.0" newVersion="2.0.414.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <applicationSettings>
    <Business.Properties.Settings>
      <setting name="Business_ReportExecutionService_ReportExecutionService"
        serializeAs="String">
        <!--<value>http://vbs-chd-iisdev:3569/ReportServer_SQL2014DEV/ReportExecution2005.asmx</value>-->
        <value>http://vbs-chd-db3:3569/ReportServer_SQL2016DB3/ReportExecution2005.asmx</value>
      </setting>
    </Business.Properties.Settings>
    <ExternalVendors.Properties.Settings>
      <setting name="ExternalVendors_ClearstarGatewayDocumentService_Document" serializeAs="String">
        <value>https://gateway.clearstar.net/CSGWDocument/Document.asmx</value>
      </setting>
      <setting name="ExternalVendors_ClearstarGateway_Profile" serializeAs="String">
        <value>https://gateway.clearstar.net/CSGWProfile/Profile.asmx</value>
      </setting>
      <setting name="ExternalVendors_ClearstarGatewayOrder_Order" serializeAs="String">
        <value>https://gateway.clearstar.net/CSGWOrder/Order.asmx</value>
      </setting>
      <setting name="ExternalVendors_ClearstarGatewayInvoice_Invoice" serializeAs="String">
        <value>https://gateway.clearstar.net/CSGWInvoice/Invoice.asmx</value>
      </setting>
      <setting name="ExternalVendors_ClearstarGatewayLookup_LookUp" serializeAs="String">
        <value>https://gateway.clearstar.net/CSGWLookup/Lookup.asmx</value>
      </setting>
      <setting name="ExternalVendors_UpdateWebCCFClearStarOrder_ClearStarOrderInfo" serializeAs="String">
        <value>https://widget.webccf.com/service/ClearStarOrderInfo.asmx</value>
      </setting>
      <setting name="ExternalVendors_QuestDiagnostics_ESService" serializeAs="String">
        <value>https://qcs-qa.qdx.com/services/esservice.asmx</value>
      </setting>
      <setting name="ExternalVendors_QuestESResultService_ESResultService" serializeAs="String">
        <value>http://localhost/ADBQESOutboundWS/ESResultService.asmx</value>
      </setting>
      <setting name="ExternalVendors_ADBMROTCNTestResult_TCNTestResultWS" serializeAs="String">
        <value>http://secure.totalcompnet.com/TCNTestResultWS/testresult.asmx</value>
      </setting>
      <setting name="ExternalVendors_ClearstarPostmaster_PostMaster" serializeAs="String">
        <value>https://gateway.clearstar.net/csgwpostmaster/postmaster.asmx</value>
      </setting>
      <setting name="ExternalVendors_ClearstarWebCCF_DonorCCF" serializeAs="String">
        <value>https://widget.webccf.com/service/donorccf.asmx</value>
      </setting>
      <setting name="ExternalVendors_ServiceGateWay_Service" serializeAs="String">
        <value>https://gateway.clearstar.net/CSGWService/Service.asmx</value>
      </setting>
      <setting name="ExternalVendors_ClearstarGatewayService_Document" serializeAs="String">
        <value>https://gateway.clearstar.net/CSGWService/Service.asmx</value>
      </setting>
      <setting name="ExternalVendors_ClearstarGatewayDocument_Document" serializeAs="String">
        <value>https://gateway.clearstar.net/CSGWDocument/Document.asmx</value>
      </setting>

    </ExternalVendors.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IPDFConversion" closeTimeout="10:01:00" openTimeout="10:01:00" receiveTimeout="10:10:00" sendTimeout="10:01:00"  maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" useDefaultWebProxy="true" maxBufferSize="2147483647" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:56548/PDFConversion.svc/PDFConversion" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPDFConversion" contract="PDFConversion.IPDFConversion" name="BasicHttpBinding_IPDFConversion" />
    </client>
  </system.serviceModel>
</configuration>