<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="database" xsi:type="Database"
				connectionString="data source=172.16.1.33\SQL2014DEV;initial catalog=ApplicationLog;persist security info=True;user id=adb_adb20;password=adb_adb20;multipleactiveresultsets=True;"
				commandText="EXEC usp_InsertMobileWebAppLog 
						@CallSite,
						@Level,
						@Logger,
						@Date,
						@Exception,
						@Message,
						@StackTrace,
						@Thread,
						@RequestID,
						@ClientIP,
						@SessionID">
      <parameter name="@CallSite" layout="${callsite:filename=true}" />
      <parameter name="@Level" layout="${level}" />
      <parameter name="@Logger" layout="${logger}" />
      <parameter name="@Date" layout="${longdate}" />
      <parameter name="@Exception" layout="${exception}" />
      <parameter name="@Message" layout="${message}" />
      <parameter name="@StackTrace" layout="${exception:format=ToString,StackTrace}${newline}" />
      <parameter name="@Thread" layout="${threadid}" />
      <parameter name="@RequestID" layout="${gdc:requestid}" />
      <parameter name="@ClientIP" layout="${gdc:clientip}" />
      <parameter name="@SessionID" layout="${gdc:sessionid}" />
    </target>
  </targets>
  <rules>
    <logger name="DBLogger" minlevel="Info" writeTo="database" /> 
  </rules>
</nlog>

