<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!-- when logSwitch  set to 1 log is enabled and captured in Log folder -->
    <add key="LoggerClassName" value="INTSOF.Logger.LogManager" />
    <add key="LogFolderPath" value="C:/Intersoft AppPool/MWA/" />
    <add key="LogLevel" value="DEBUG" />
    <!--when loggerType set 'FileLoggerAndDBLogger' File and DB logging will be enable,
  when loggerType set 'FileLogger' only File logging will be enable and
  when loggerType set 'DBLogger' only DB logging will be enable-->
    <add key="LoggerType" value="FileLoggerAndDBLogger" />
    <!-- LogTypeName May be "INTSOF.Logger.EventLogger","INTSOF.Logger.FileLogger" -->
    <add key="TemporaryFileLocation" value="C:\TemporaryFileLocation\" />
    <add key="ApplicantFileLocation" value="C:\ApplicantFileAttachments\" />
    <add key="ReceiptTemplateLocation" value="\\172.16.1.45\ADB_Shared_Content\Server45\Attachments\QABuild_AF\HTMLConversion\OrderSummary_Receipt_Template.txt" />
    <!--<add key="ReceiptTemplateLocation" value="C:\\OfficialData\\Projects\\ADB_Release161\\OrderSummary_Receipt_Template_With_PlaceHolder.txt" />-->

    <!--Amazon Web Services(AWS) S3 -->
    <add key="AWSDirPathInBucket" value="Offshore/QADocuments" />
    <add key="AWSUseS3" value="false" />
    <add key="AWSAccessKey" value="AKIAJQ37FUXSMKSRXWJQ" />
    <add key="AWSSecretKey" value="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" />
    <add key="AWSBucket" value="complio.uatdocs.adb" />
    <add key="AWSRegion" value="s3-us-west-2.amazonaws.com" />
    <add key="authorizeNetTest" value="https://test.authorize.net/customer/" />
    <add key="authorizeNetProd" value="https://accept.authorize.net/customer/" />
    <add key="UseAuthorizeDotNetTls_1_2" value="true"/>
    <add key="MobileUrlPrefix" value="m-" />
    <add key="ReceiptTemplateLocation" value="\\172.16.1.45\ADB_Shared_Content\Server45\Attachments\QABuild_AF\HTMLConversion\OrderSummary_Receipt_Template.txt" />
    <add key="ReceiptTemplateLocationSpanish" value="\\172.16.1.45\ADB_Shared_Content\Server45\Attachments\QABuild_AF\HTMLConversion\OrderSummary_Receipt_Template_Spanish.txt" />
    <add key="UseAuthorizeDotNetTls_1_2" value="true"/>
    <add key="authorizeNetTest" value="https://test.authorize.net/customer/" />
    <add key="authorizeNetProd" value="https://accept.authorize.net/customer/"/>
    <add key="ResourceFileName" value="SysXMessages" />
    
    <!--<add key="SenderName" value="ADB" />
    <add key="mailSenderName" value="ADB support team" />
    <add key="SenderEmailId" value="info.apps@intsof.com" /hh>
    <add key="ExceptionEmailNotification" value="false" />
    <add key="ExceptionEmail_SubPrefix" value="500 error (.NET)" />
    <add key="ExceptionEmail_ToAddress" value="support.SystemX@intsof.com" />

    <add key="UseAuthorizeDotNetTls_1_2" value="true" />
    <add key="countrySortPreferenceForCascadingAttributes" value="UNITED STATES of AMERICA,UNITED STATES of AMERICA - STATE,UNITED STATES of AMERICA - Territory,CANADA,MEXICO"/>
    <add key="countrySortPreferenceForABIAddress" value="UNITED STATES of AMERICA,CANADA,MEXICO"/>
    <add key="authorizeNetTest" value="https://test.authorize.net/customer/" />
    <add key="authorizeNetProd" value="https://accept.authorize.net/customer/" />

    <add key="MobileUrlPrefix" value="m." />
    <add key="ResourceFileName" value="SysXMessages" />
    <add key="ReceiptTemplateLocationSpanish" value="\\172.16.1.45\ADB_Shared_Content\Server45\Attachments\QABuild_AF\HTMLConversion\OrderSummary_Receipt_Template_Spanish.txt" />-->

  </appSettings>
  <connectionStrings>
    <!--Dev  Rotation Package -->
    <add name="ConnectionName" connectionString="data source=172.16.1.33\SQL2014DEV;initial catalog=ADB_Prod_Framework;persist security info=True;user id=adb_prod;password=adb_prod;multipleactiveresultsets=True;"      providerName="System.Data.EntityClient" />
    <add name="SysXAppDBEntities" connectionString="metadata=res://*/SysXEntities.csdl|res://*/SysXEntities.ssdl|res://*/SysXEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=172.16.1.33\SQL2014DEV;;Initial Catalog=ADB_Prod_Framework;Persist Security Info=True;user id=adb_prod;password=adb_prod;Connection Timeout=600;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;"      providerName="System.Data.EntityClient" />
    <add name="SysXAppDBCaching" connectionString="data source=172.16.1.33\SQL2014DEV;;initial catalog=ADB_Prod_Framework;persist security info=True;user id=startUser;password=startUser;Max Pool Size=5;Pooling=true" />
    <add name="SysXAppDBSubscriberCaching" connectionString="data source=172.16.1.33\SQL2014DEV;;initial catalog=ADB_Prod_Framework;persist security info=True;user id=subscribeUser;password=subscribeUser;Max Pool Size=5;Pooling=true" />
    <add name="MessagingDBCaching" connectionString="data source=172.16.1.33\SQL2014DEV;;initial catalog=ADB_Prod_Messaging;persist security info=True;user id=startUser;password=startUser;Max Pool Size=5;Pooling=true" />
    <add name="MessagingDBSubscriberCaching" connectionString="data source=172.16.1.33\SQL2014DEV;;initial catalog=ADB_Prod_Messaging;persist security info=True;user id=subscribeUser;password=subscribeUser;Max Pool Size=5;Pooling=true" />
    <add name="ADBMessageDB_DevEntities" connectionString="metadata=res://*/ADBMessageQueue.csdl|res://*/ADBMessageQueue.ssdl|res://*/ADBMessageQueue.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.1.33\SQL2014DEV;;initial catalog=ADB_Prod_Messaging;persist security info=True;user id=adb_prod;password=adb_prod;multipleactiveresultsets=True;App=EntityFramework&quot;"      providerName="System.Data.EntityClient" />
    <add name="ADBApplicantMessageDB_DevEntities" connectionString="metadata=res://*/ApplicantMessageQueue.csdl|res://*/ApplicantMessageQueue.ssdl|res://*/ApplicantMessageQueue.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.1.33\SQL2014DEV;;initial catalog=ADB_Prod_Messaging;persist security info=True;user id=adb_prod;password=adb_prod;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ADB_SharedDataEntities" connectionString="metadata=res://*/SharedDataEntity.ADBSharedDataEntity.csdl|res://*/SharedDataEntity.ADBSharedDataEntity.ssdl|res://*/SharedDataEntity.ADBSharedDataEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.1.33\SQL2014DEV;;initial catalog=ADB_Prod_SharedData;persist security info=True;user id=adb_prod;password=adb_prod;MultipleActiveResultSets=True;App=EntityFramework&quot;"      providerName="System.Data.EntityClient" />
    <add name="ADB_Security_Rotation_PackageConnectionString" connectionString="Data Source=172.16.1.33\SQL2014DEV;Initial Catalog=ADB_Prod_Framework;Persist Security Info=True;User ID=adb_prod;Password=adb_prod" providerName="System.Data.SqlClient" />
    <add name="ADB_LocationDataEntities" connectionString="metadata=res://*/LocationEntity.ADBLocationEntity.csdl|res://*/LocationEntity.ADBLocationEntity.ssdl|res://*/LocationEntity.ADBLocationEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.1.33\SQL2014DEV;initial catalog=ADB_Prod_LocationData;persist security info=True;user id=adb_prod;password=adb_prod;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

    <!--QA    
    <add name="ConnectionName" connectionString="data source=172.16.1.43\SQL2016DB3;initial catalog=ADB_Prod_Framework;persist security info=True;user id=adbQA_prod;password=adbQA_prod;multipleactiveresultsets=True;" providerName="System.Data.EntityClient" />
    <add name="SysXAppDBEntities" connectionString="metadata=res://*/SysXEntities.csdl|res://*/SysXEntities.ssdl|res://*/SysXEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=172.16.1.43\SQL2016DB3;Initial Catalog=ADB_Prod_Framework;Persist Security Info=True;user id=adbQA_prod;password=adbQA_prod;Connection Timeout=600;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SysXAppDBCaching" connectionString="data source=172.16.1.43\SQL2016DB3;initial catalog=ADB_Prod_Framework;persist security info=True;user id=startUser;password=startUser;Max Pool Size=5;Pooling=true" />
    <add name="SysXAppDBSubscriberCaching" connectionString="data source=172.16.1.43\SQL2016DB3;initial catalog=ADB_Prod_Framework;persist security info=True;user id=subscribeUser;password=subscribeUser;Max Pool Size=5;Pooling=true" />
    <add name="ADBMessageDB_DevEntities" connectionString="metadata=res://*/ADBMessageQueue.csdl|res://*/ADBMessageQueue.ssdl|res://*/ADBMessageQueue.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.1.43\SQL2016DB3;initial catalog=ADB_Prod_Messaging;persist security info=True;user id=adbQA_prod;password=adbQA_prod;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ADBApplicantMessageDB_DevEntities" connectionString="metadata=res://*/ApplicantMessageQueue.csdl|res://*/ApplicantMessageQueue.ssdl|res://*/ApplicantMessageQueue.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.1.43\SQL2016DB3;initial catalog=ADB_Prod_Messaging;persist security info=True;user id=adbQA_prod;password=adbQA_prod;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MessagingDBCaching" connectionString="data source=172.16.1.43\SQL2016DB3;initial catalog=ADB_Prod_Messaging;persist security info=True;user id=startUser;password=startUser;Max Pool Size=5;Pooling=true" />
    <add name="MessagingDBSubscriberCaching" connectionString="data source=172.16.1.43\SQL2016DB3;initial catalog=ADB_Prod_Messaging;persist security info=True;user id=subscribeUser;password=subscribeUser;Max Pool Size=5;Pooling=true" />
    <add name="ADB_SharedDataEntities" connectionString="metadata=res://*/SharedDataEntity.ADBSharedDataEntity.csdl|res://*/SharedDataEntity.ADBSharedDataEntity.ssdl|res://*/SharedDataEntity.ADBSharedDataEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.1.43\SQL2016DB3;initial catalog=ADB_Prod_SharedData;persist security info=True;user id=adbQA_prod;password=adbQA_prod;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ADB_LocationDataEntities" connectionString="metadata=res://*/LocationEntity.ADBLocationEntity.csdl|res://*/LocationEntity.ADBLocationEntity.ssdl|res://*/LocationEntity.ADBLocationEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.1.43\SQL2016DB3;initial catalog=ADB_Prod_LocationData;persist security info=True;user id=adbQA_prod;password=adbQA_prod;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    -->
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <!--<httpRuntime targetFramework="4.5.2" />-->
    <membership defaultProvider="SysXMembershipProvider" userIsOnlineTimeWindow="15">
      <providers>
        <add name="SysXMembershipProvider" type="CoreWeb.IntsofSecurityModel.Providers.SysXMembershipProvider, CoreWeb.IntsofSecurityModel, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" applicationName="ADB" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="true" connectionStringName="SysXAppDBEntities" requiresUniqueEmail="true" passwordFormat="Hashed" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="SysXRoleProvider" cacheRolesInCookie="false">
      <providers>
        <add name="SysXRoleProvider" type="CoreWeb.IntsofSecurityModel.Providers.SysXRoleProvider, CoreWeb.IntsofSecurityModel, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" applicationName="ADB" />
      </providers>
    </roleManager>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="TelemetryCorrelationHttpModule" />
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="integratedMode,managedHandler" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IPDFConversion" closeTimeout="10:01:00" openTimeout="10:01:00" receiveTimeout="10:10:00" sendTimeout="10:01:00" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" useDefaultWebProxy="true" maxBufferSize="2147483647" />
      </basicHttpBinding>
      <wsHttpBinding />
    </bindings>
    <client>
      <endpoint address="http://localhost:56548/PDFConversion.svc/PDFConversion" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPDFConversion" contract="PDFConversion.IPDFConversion" name="BasicHttpBinding_IPDFConversion" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.1" newVersion="4.0.2.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>