<div id="bodyBlock" class="container-fluid">
  <section class="p-2">
    <div class="row">
      <div class="col-md-12 d-flex"></div>
      <div class="col-md-12 text-center">
        <h3 id="LINKACCOUNT"></h3>
      </div>
      <div class="col-md-12 bg-white shadow-sm rounded py-3">
        <div  style="color: #a94442" [hidden]="hideAccountLinkError">{{accountLinkError}}</div>
        <form>
          <div class="row">
              <div class="col-md-12 text-center">
                  <h5 id="PSWDVERIFICATION"></h5>
                </div>
            <div class="col-md-6 mb-1">
              <label id="USERNAME"></label>
              <input type="text" maxlength="50" [(ngModel)]="userName" name="userName" disabled class="form-control"/>
            </div>
            <div class="col-md-6 mb-1">
              <label id="PASSWORD"></label>
              <input type="password" maxlength="50" [(ngModel)]="password" name="password"  class="form-control"/>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
              <button [hidden]="!hdnSubmitButton" type="button" autofocus="false" (click)="onRegisterNew()" class="btn btn-primary fixedWidthBtn">
                <i class="fas fa-save pr-1"></i>
                <label class="label-on-button" id="CRTNEW"></label>
              </button>              

              <button [hidden]="!hdnSubmitButton || incorrectPwdCount >= 4" type="button" autofocus="false" (click)="onPasswordverification()" class="btn btn-primary mx-1 fixedWidthBtn">
                <i class="fas fa-arrow-right pl-1"></i>
                <label class="label-on-button" id="TRYAGAIN"></label>
              </button>

              <button [hidden]="hdnSubmitButton" type="button" autofocus="false" (click)="onPasswordverification()" class="btn btn-primary mx-1 fixedWidthBtn">
                <i class="fa fa-paper-plane"></i>
                <label class="label-on-button" id="SUBMIT"></label>
              </button>

              <cancel-registration-button></cancel-registration-button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
</div>