<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>

    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <!--<add name="WidgetMainDBConnection" connectionString="Data Source=172.16.1.21\SQL2012STD; User ID=adb_adb20;Password=adb_adb20;Initial Catalog=ADB_Dev_Security;" />
    <add name="WidgetMessagingDBConnection" connectionString="Data Source=172.16.1.21\SQL2012STD; User ID=adb_adb20;Password=adb_adb20;Initial Catalog=ADB_Dev_Messaging;" />-->
    <add name="WidgetMainDBConnection" connectionString="Data Source=172.16.1.14\SQL2012STDD; User ID=adb_adb20;Password=adb_adb20;Initial Catalog=ADB_Dev_Security_CR;" />
    <add name="WidgetMessagingDBConnection" connectionString="Data Source=172.16.1.14\SQL2012STD; User ID=adb_adb20;Password=adb_adb20;Initial Catalog=ADB_Dev_Messaging_CR;" />
    <!--<add name="SysXAppDBEntities" connectionString="metadata=res://*/SysXEntities.csdl|res://*/SysXEntities.ssdl|res://*/SysXEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=172.16.1.21\SQL2012STD;Initial Catalog=ADB_Dev_Security;Persist Security Info=True;user id=adb_adb20;password=adb_adb20;Connection Timeout=600;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ADBMessageDB_DevEntities" connectionString="metadata=res://*/ADBMessageQueue.csdl|res://*/ADBMessageQueue.ssdl|res://*/ADBMessageQueue.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.1.21\SQL2012STD;initial catalog=ADB_Dev_Messaging;persist security info=True;user id=adb_adb20;password=adb_adb20;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ADB_SharedDataEntities" connectionString="metadata=res://*/SharedDataEntity.ADBSharedDataEntity.csdl|res://*/SharedDataEntity.ADBSharedDataEntity.ssdl|res://*/SharedDataEntity.ADBSharedDataEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.1.21\SQL2012STD;initial catalog=ADB_Dev_SharedData;persist security info=True;user id=adb_adb20;password=adb_adb20;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>

  <appSettings>
    <add key="DataFeedLength" value="10000000"/>

  </appSettings>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the  <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
    <compilation debug="true" targetFramework="4.7.2" >
      <assemblies>
        <remove assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <remove assembly="Microsoft.ApplicationServer.Caching.Client, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <remove assembly="Microsoft.ApplicationServer.Caching.Core, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>

    <pages styleSheetTheme="" controlRenderingCompatibilityVersion="4.0" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="Session" />
    </modules>
    <security>
      <requestFiltering>
        <fileExtensions>
          <add fileExtension=".asmx" allowed="true" />
        </fileExtensions>
      </requestFiltering>
    </security>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="dataFeed">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors >
        <behavior name="webhttpenabled">
          <webHttp></webHttp>

        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true">
    </serviceHostingEnvironment>
    <services>
      <service name="WidgetDataWebService.DataFeed" behaviorConfiguration="dataFeed" >
        <endpoint contract="WidgetDataWebService.IDataFeed" binding="webHttpBinding" behaviorConfiguration="webhttpenabled"></endpoint>
      </service>
    </services>
  </system.serviceModel>
</configuration>