<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <!-- Log in a separate thread, possibly queueing up to
        5000 messages. When the queue overflows, discard any
        extra messages-->
    <target name="console" xsi:type="Console"  layout="${longdate} ${callsite} ${processname} ${level} ${message}"/>

    <target name="mail" xsi:type="Mail" smtpServer="Preo-Exch1"
          from="no-reply@intsof.com" to="gautam.bhardwaj@intsof.com"
          subject="EmailDispatcherService Fatal Error on machine ${machinename} path ${basedir}" />
   


    <target name="file" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
      <target xsi:type="File" fileName="${basedir}/VendorOrderProcessServiceLogs/${shortdate}/VendorOrderProcessServiceLogs.txt" />
    </target>
  </targets>
   <rules>   
    <logger name="*" minlevel="Debug" writeTo="file" />    
    <!--<logger name="*" level="Info" writeTo="file" />
    <logger name="*" level="Error" writeTo="file"/>-->
  </rules>
</nlog>
