<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  <connectionStrings>
    <add name="ConnectionName" connectionString="data source=35.161.21.214;initial catalog=ADB_Framework_Test;persist security info=True;user id=ADB;password=TacyG1D5;multipleactiveresultsets=True;Max Pool Size=1000;Pooling=true" providerName="System.Data.EntityClient"/>
    <add name="SysXAppDBEntities" connectionString="metadata=res://*/SysXEntities.csdl|res://*/SysXEntities.ssdl|res://*/SysXEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=35.161.21.214;Initial Catalog=ADB_Framework_Test;Persist Security Info=True;user id=ADB;password=TacyG1D5;Connection Timeout=600;Max Pool Size=1000;Pooling=true;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="SysXAppDBCaching" connectionString="data source=35.161.21.214;initial catalog=ADB_Framework_Test;persist security info=True;user id=startUser;password=startUser;Max Pool Size=1000;Pooling=true"/>
    <add name="SysXAppDBSubscriberCaching" connectionString="data source=35.161.21.214;initial catalog=ADB_Framework_Test;persist security info=True;user id=subscribeUser;password=subscribeUser;Max Pool Size=1000;Pooling=true"/>
    <add name="ADBMessageDB_DevEntities" connectionString="metadata=res://*/ADBMessageQueue.csdl|res://*/ADBMessageQueue.ssdl|res://*/ADBMessageQueue.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=35.161.21.214;initial catalog=ADB_Messaging_Test;persist security info=True;user id=ADB;password=TacyG1D5;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="ADBApplicantMessageDB_DevEntities" connectionString="metadata=res://*/ApplicantMessageQueue.csdl|res://*/ApplicantMessageQueue.ssdl|res://*/ApplicantMessageQueue.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=35.161.21.214;initial catalog=ADB_Messaging_Test;persist security info=True;user id=ADB;password=TacyG1D5;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="MessagingDBCaching" connectionString="data source=35.161.21.214;initial catalog=ADB_Messaging_Test;persist security info=True;user id=startUser;password=startUser;Max Pool Size=1000;Pooling=true"/>
    <add name="MessagingDBSubscriberCaching" connectionString="data source=35.161.21.214;initial catalog=ADB_Messaging_Test;persist security info=True;user id=subscribeUser;password=subscribeUser;Max Pool Size=1000;Pooling=true"/>
    <add name="ADB_SharedDataEntities" connectionString="metadata=res://*/SharedDataEntity.ADBSharedDataEntity.csdl|res://*/SharedDataEntity.ADBSharedDataEntity.ssdl|res://*/SharedDataEntity.ADBSharedDataEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=35.161.21.214;initial catalog=ADB_SharedData_Test;persist security info=True;user id=ADB;password=TacyG1D5;Max Pool Size=1000;Pooling=true;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="ADB_LocationDataEntities" connectionString="metadata=res://*/LocationEntity.ADBLocationEntity.csdl|res://*/LocationEntity.ADBLocationEntity.ssdl|res://*/LocationEntity.ADBLocationEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=35.161.21.214;initial catalog=ADB_LocationData_Test;persist security info=True;user id=ADB;password=TacyG1D5;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <appSettings>
    <add key="AgencyUserServiceInterval" value="900000" />
    <add key="InvitationGroupServiceInterval" value="900000" />
    <add key="DataMartConnectionString" value="mongodb://ADB:TacyG1D5@172.24.21.49:27017/" />
    <add key="DataMartDatabaseName" value="ADBDataMart" />
    <add key="MaxParallelThreads" value="10" />
  </appSettings>
</configuration>
